@import "src/stylesheets/breakpoints";
@import "src/stylesheets/variables";

.wrestlers {
  background-color: $secondary-navigation-bg;
  width: 100%;
  padding: 0.5rem;
  min-height: 20rem;

  @include breakpoint(xs) {
    height: 14rem;
    min-height: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__search {
    opacity: 0.5;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
  }

  & .wrestlers__search.active,
  &:hover .wrestlers__search {
    opacity: 1;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
  }

  &__header {
    line-height: 3rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: $secondary-navigation-color;
    margin: 0;
  }

  &__seperator {
    font-size: 0.9rem;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

@import 'wrestlers.modifiers';
