.brand {
  &__logo {
    height: 60px;
  }
}
.wrestlers {
  background-color: black;
  min-height: 500px;
  width: 100%;
  padding: 15px;

  &__search {
    opacity: 0.5;
    transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -webkit-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
  }

  & .wrestlers__search.active,
  &:hover .wrestlers__search {
    opacity: 1;
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
  }

  &__header {
    font-size: 1em;
    line-height: 3em;
    text-align: center;
    color: white;
  }

  &__seperator {
    font-size: 0.9em;
  }

  &__container {
    overflow: scroll;
  }
}

@import 'wrestlers.modifiers';
