$manage-roster-font-size: large;

.page.manage-roster {
  font-size: $manage-roster-font-size;

  input {
    font-size: $manage-roster-font-size;
    line-height: $manage-roster-font-size;
    margin: 0;
  }

  .btn-create,
  .btn-delete {
    padding: .7rem;
  }

  label {
    margin: 1rem 0 0;
  }

  .dropzone {
    border: 0;
    color: #666;

    margin: 0;
    padding: 0;

    label {
      content: '';
    }

    .avatar {
      height: 3rem;
      width: 3rem;
    }
  }
}
