$manage-roster-font-size: 1.2rem;

.page.manage-roster {
  font-size: $manage-roster-font-size;

  input {
    line-height: $manage-roster-font-size;
    font-size: $manage-roster-font-size;
  }

  p {
    padding: 0rem 8px;
  }

  .dropzone {
    padding: 0;
    margin: 0 0 1rem 0;
    color: #666;
    border: .2rem dashed currentColor;

    label {
      content: "";
    }

    .avatar {
      height: 3rem;
      width: 3rem;
    }
  }
}
