.page-section.buckets {
  .brand .icon {
    zoom: 0.5;
  }
  .wrestler .icon {
    zoom: 0.7;
  }
  .icon__container {
    .icon {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
  .form {
    opacity: 0.5;
    width: 75%;
    margin: 0 auto;
  }
  .form:hover {
    opacity: 1;
  }
}
