@import "src/stylesheets/breakpoints";
@import "src/stylesheets/variables";

.championships {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 50rem;
  justify-content: space-around;
  overflow-y: scroll;
  text-align: center;

  .championship {
    background-color: black;
    color: white;
    margin: 1rem;
    padding: 1rem;

    .badge {
      background-image: linear-gradient(to bottom, #e69fa5, #dd202f);
      background: #e23442;
      border-radius: 100%;
      border: 1px solid #911f28;
      color: white;
      line-height: 2rem;
      margin-right: .5rem;
      padding: 0 .5rem;
    }

    &__name {
      font-size: 1.5rem;
      font-weight: 500;
    }

    &__holdername  span {
      display: block;
    }
  }
}
