@import "src/stylesheets/breakpoints";
@import "src/stylesheets/variables";

.championships {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  
  .championship {
    border-radius: .5rem;
    margin-bottom: .5rem;
    position: relative;
    margin: 0 1rem 1rem 1rem;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    .badge {
      background-image: linear-gradient(to bottom, #e69fa5, #dd202f);
      background: #e23442;
      border-radius: 100%;
      border: 1px solid #911f28;
      color: white;
      line-height: 2rem;
      padding: 0 .5rem;
      position: absolute;
      right: 27%;
      top: 25%;
      z-index: 250;
    }

    &__name {
      font-size: 1.5rem;
    }

    &__holdername  span {
      display: block;
    }
  }
}
