.championships {
  text-align: center;

  &.active {
    vertical-align: middle;
  }

  &__championship {
    width: 20%;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
  }

  .championship__holdername {
    font-size: 0.95em;
    font-weight: bold;
  }
}
