.championships {
  text-align: center;

  &__championship {
    vertical-align: top;
    width: 20%;
    display: inline-block;
    &.vacant {
      color: #ccc;
    }
  }

  .championship__holdername {
    font-size: 0.95em;
    font-weight: bold;

    span {
      display: block;
    }
  }
}
