@import "src/stylesheets/breakpoints";

.championships {
  text-align: center;

  &__championship {
    vertical-align: top;
    display: inline-block;
    height: 7em;
    width: 20%;

    @include breakpoint(xs) {
      width: 50%;
    }

    &.vacant {
      color: #ccc;
    }
  }

  .championship__holdername {
    font-size: 1em;
    font-weight: bold;

    span {
      display: block;
    }
  }
}
