@import "../../../stylesheets/variables";

body {
  background-color: $bg;
  color: $color;

  a,
  a:visited,
  a:hover {
    color: $color;
  }

  a:hover,
  .btn:focus,
  .btn:hover {
    color: $nxt;
  }
}

hr {
  border: 1px solid $smackdown;
}

hr:first-of-type {
  border: 1px solid $raw;
}

h1 {
  font-size: 50px;

  img {
    max-height: 80px;
  }
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: transparent;
}
