@import "src/stylesheets/breakpoints";

.page.ranking {

  &.icon-default {
    background-image: none;
    height: auto;
    width: auto;
    zoom: inherit;
    overflow: inherit;

    &::before {
      content: "All brands";
      color: white;
    }
  }

  .ranking {

    h3 {
      font-size: 1em;
    }

    &__wrestler .icon {
      zoom: 0.7;
    }
  }
}
