.page.ranking {

  .navigation .icon {
    zoom: 0.2;

    &.icon-default {
      background-image: none;
      height: auto;
      width: auto;
      zoom: inherit;

      &::before {
        content: "All brands";
        color: white;
      }
    }
  }

  h3 {
    font-size: 2em;
  }

  .ranking {
    &__split h3 {
      font-size: 1em;
    }

  }
}
