@import "src/stylesheets/breakpoints";
$wrestler-size: 6rem;

.wrestlers .wrestler {
  align-items: center;
  background-color: white;
  border-radius: 100%;
  color: black;
  display: flex;
  font-size: 1.3rem;
  height: $wrestler-size;
  justify-content: space-around;
  line-height: 2rem;
  margin: 0 0.5rem 1rem;
  text-align: center;
  width: $wrestler-size;
  word-wrap: break-word;
  text-shadow: 0 1px 3px #fff,
    0 3px 5px #666,
    0 5px 10px #ccc;

  &:hover {
    background: #ccc;
    background: linear-gradient(135deg,  white 0%, #ccc 100%);
  }
}
