$active-color: #ffd700;
$inactive-color: red;
$main-color: #fff;
$inner-color: #3d3c3c;
$match-border-color: #929292;

.match .team {
  font-size: large;
  margin-bottom: 0.5rem;

  &.has-winner .box {
    border-style: solid;

    .icon.active {
      opacity: 1;
    }
  }

  &.has-many-wrestlers .wrestler:hover {
    border: 0.1rem dashed $inner-color;
  }

  &:last-of-type {
    opacity: 0.4;
  }

  .active {
    color: $active-color;
  }

  .inactive {
    color: $inactive-color;
  }

  .wrestler {
    border: 0.1rem dashed transparent;
    flex-grow: 1;
    margin: 0.1rem;
    text-align: center;
    transition: border 0.5s linear;

    .icon {
      opacity: 0.2;
      transition: opacity 0.5s linear;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }

    &__icons {
      display: flex;
      justify-content: center;
    }
  }
}
