$active-color: #ffd700;
$inactive-color: red;
$main-color: #fff;
$inner-color: #3d3c3c;
$match-border-color: #929292;

.match .team {
  font-size: x-large;
  margin-bottom: 1rem;

  &.has-winner .box {
    border-style: solid;

    .icon.active {
      opacity: 1;
    }
  }

  &.has-many-wrestlers .wrestler:hover {
    border: .2rem dashed $inner-color;
  }

  &:last-of-type {
    opacity: .4;
  }

  .active {
    color: $active-color;
  }

  .inactive {
    color: $inactive-color;
  }

  .wrestler {
    border: .2rem dashed transparent;
    flex-grow: 1;
    font-size: x-large;
    margin: .1rem;
    text-align: center;
    transition: border .5s linear;

    .icon {
      opacity: .2;
      transition: opacity .5s linear;
    }

    &:hover {
      .icon {
        opacity: 1;
      }
    }

    &__icons {
      display: flex;
      justify-content: center;
    }
  }
}
