$active-color: #ffd700;
$inactive-color: red;
$main-color: #fff;
$inner-color: #3d3c3c;
$match-border-color: #4b4b4b;

.match .team {
  margin-bottom: 0.5rem;

  .dropzone {
    min-height: inherit;
    border: 0.1rem solid $match-border-color;
  }

  &:last-of-type {
    opacity: 0.4;
  }

  .active {
    color: $active-color;
  }

  .inactive {
    color: $inactive-color;
  }

  .member {
    flex-grow: 1;
    margin: 0.1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
