@import "src/stylesheets/variables";

.label {
  display: inline-block;
  margin-right: .5rem;
  text-transform: uppercase;
  border-radius: 0;
  padding: .3rem 1rem;
  background-color: black;
  color: white;

  &.label-green {
    background-color: green;
  }
  &.label-purple {
    background-color: purple;
  }
  &.label-orange {
    background-color: orange;
  }
  &.label-red {
    background-color: red;
  }
  &.label-blue {
    background-color: blue;
  }
  &.label-yellow {
    background-color: yellow;
    color: black;
  }
  &.label-white {
    background-color: white;
    color: black;
  }
  &.label-black {
    background-color: black;
    color: white;
  }
}
