$button-color: #fff;
$button-font-size: x-large;
$button-background-color: #333;
$button-padding: 0.5rem !default;
$button-font-weight: 500;
$button-font-variant: all-petite-caps;

button {
  background-color: $button-background-color;
  border: 0;
  color: $button-color;
  cursor: pointer;
  font-variant: $button-font-variant;
  font-weight: $button-font-weight;
  font-size: $button-font-size;
  padding: $button-padding;
  width: 100%;
}

button.btn-delete {
  background-color: #a90202;
  color: white;
}

button.btn-create {
  background-color: green;
  color: white;
}
