$accounting-cost-color: #28e23b;
$accounting-gross-color: gold;
$accounting-font-size: 3rem;

.accounting {
	font-size: $accounting-font-size;

  .cost {
    color: $accounting-cost-color;
  }

  .gross {
    color: $accounting-gross-color;
  }
}
