$accounting-cost-color: green;
$accounting-gross-color: gold;
$accounting-font-size: 1rem;

.accounting {

  &__header {
    margin-bottom: $accounting-font-size;
  }

  .item {
    font-size: 2.5rem;
    list-style: none;

    &__name {
      text-align: left;
    }
  }

  .item__cost,
  .total__cost {
    color: $accounting-cost-color;
    float: right;
  }

  .gross {
    color: $accounting-gross-color;
  }
}
