.accounting {

  &__header {
    margin-bottom: 1rem;
    text-decoration: underline;
  }

  .item {
    font-size: 2.5rem;
    list-style: none;

    &__name {
      text-align: left;
    }
  }

  .item__cost,
  .total__cost {
    float: right;
  }
}
