$accounting-cost-color: #28e23b;
$accounting-gross-color: gold;
$accounting-font-size: 1rem;

.accounting {
  font-size: $accounting-font-size;
  font-variant: small-caps;
  margin-bottom: 1rem;

  &__collection {
    margin-bottom: 1rem;
  }

  .cost {
    color: $accounting-cost-color;
  }

  .gross {
    color: $accounting-gross-color;
  }
}
