@import "src/stylesheets/breakpoints";

$font-weight: normal !default;
$font-size: large !default;
$font-color: #232828 !default;
$border-width: 0 !default;
$border-style: solid !default;
$border-color: #ccc !default;
$input-height: auto !default;
$input-padding: 0.5rem !default;
$input-placeholder: #ccc !default;
$input-width: 100% !default;
$input-max-width: 100% !default;
$input-bg-color: white !default;
$focus-bg-color: #f9fbfe !default;
$focus-border-color: $border-color !default;
$focus-font-color: $font-color !default;
$allow-select-vendor-styling: true !default;
$display: block !default;

input {
  background-color: $input-bg-color;
  border: $border-width $border-style $border-color;
  box-sizing: border-box;
  color: $font-color;
  display: $display;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 0.2rem 0 0.5rem;
  max-width: $input-max-width;
  outline: none;
  padding: $input-padding;
  vertical-align: top;
  width: $input-width;
  border-radius: 0;

  @include breakpoint(xs) {
    font-size: small;
  }
}

input[type="text"] {
  height: $input-height;
}

input[type="file"] {
  min-height: $input-height;
}

input[type="image"] {
  padding: $input-height / 5;
  text-align: center;
}

input[disabled] {
  cursor: not-allowed;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input:focus {
  background-color: $focus-bg-color;
  border-color: $focus-border-color;
}

input::placeholder {
  color: $input-placeholder;
}
