@import "src/stylesheets/breakpoints";

select {
  background-color: transparent;
  border: none;
  color: currentColor;
  margin: 0;
  outline: none;
  padding: 0.5rem;
  position: relative;
  display: block;
  box-sizing: border-box;
  font-size: medium;
  width: 8rem;

  @include breakpoint(xs) {
    font-size: small;
  }
}

.custom-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 1em;
  z-index: 2;
  pointer-events: none;
  display: none;
}
