$font-weight: normal;
$font-size: x-large;
$font-color: #232828 !default;
$textarea-border-radius: 0 !default;
$border-width: 0 !default;
$border-style: solid !default;
$border-color: #ccc !default;
$textarea-height: 5rem !default;
$textarea-width: 100% !default;
$textarea-max-width: 100% !default;
$textarea-bg-color: white !default;
$focus-bg-color: #f9fbfe !default;
$focus-border-color: $border-color !default;
$textarea-placeholder: #ccc;

$display: block !default;

textarea {
  background-color: $textarea-bg-color;
  border-radius: $textarea-border-radius;
  border: $border-width $border-style $border-color;
  box-sizing: border-box;
  color: $font-color;
  display: $display;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 1rem 0;
  max-width: $textarea-max-width;
  outline: none;
  overflow: auto;
  line-height: inherit;
  padding: $textarea-height / 5;
  vertical-align: top;
  width: $textarea-width;
}

label {
  display: $display;
  font-variant: small-caps;
  font-weight: 100;
}

legend {
  font-weight: 700;
  padding: 0 5px;
}

textarea[disabled] {
  cursor: not-allowed;
}

textarea:focus {
  background-color: $focus-bg-color;
  border-color: $focus-border-color;
}

textarea::placeholder {
  color: $textarea-placeholder;
}
