.page.manage-brands {
  .brands {
    margin: 0 auto;
  }

  .brand {
    margin: 0;
    padding: 0;
  }

  .wrapper {
    .icon {
      border: none;
      color: #29a038;
      float: left;
      left: 0;
      margin: 0;
      padding: 0 1rem;
      position: relative;
      top: 2rem;
    }

    input {
      padding-left: 3rem;
    }
  }
}
