.page.shows {
  .show-on-parent-hover {
    opacity: 0;
  }
  .table:hover .show-on-parent-hover {
    opacity: 1;
  }
  .icon {
    zoom: 0.2;

    &.icon-default {
      background-image: none;
      height: auto;
      width: auto;
      zoom: inherit;
      overflow: inherit;

      &::before {
        content: "All brands";
      }
    }
  }
}
