$nav-link-hover-text-shadow: .1rem .1rem .2rem currentColor;

.burger {
  &__container {
    display: none;
    transform: translate(0);
    transition: opacity 2s linear;

    &.active {
      display: inline;
      transform: translate(9999px);
    }
  }

  &__item {
    list-style: disc;
  }
}
