$name-input-font-size: 8rem;

.page.name {
  textarea {
    font-size: $name-input-font-size;
    font-weight: bolder;
    height: $name-input-font-size + 0.5;
    line-height: $name-input-font-size + 0.5;
  }
}
