.page-section.creationism-championship {
  height: 100%;

  .inpage-content {
    height: 100%;

    .championship-belt {
      height: 100%;

      .box {
        height: 100%;
        width: 100%;
      }
    }

    .options {
      margin: 5rem auto;
      text-align: center;
      width: 60%;

      label {
        font-size: 4rem;
        font-weight: 700;
      }
    }
  }
}



.arrows__container {
  height: 100%;

  .arrow__left,
  .arrow__right {
    font-size: 10rem;
  }
}
