@import "src/stylesheets/breakpoints";

.page.draft .brands {
  display: flex;
  flex-wrap: inherit;

  .brand {
    flex: auto;
    height: 100vh;
    min-width: 25%;
    overflow: hidden;
    padding: 0;
    text-align: center;

    &:first-of-type {
      border-radius: 0.5rem 0 0;
    }
  }

  @include breakpoint(xs) {
    display: inline-block;
    height: 30vh;
    width: 100%;
  }
}
