@import "src/stylesheets/breakpoints";

.page.draft .brands {
  display: flex;
  flex-wrap: inherit;

  .brand {
    flex: 1 0;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    text-align: center;

    &:first-of-type {
      border-radius: 0.5rem 0 0;
    }
    &:last-of-type {
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }

  @include breakpoint(xs) {
    display: inline-block;
    height: 30vh;
    width: 100%;
  }
}
