@import "src/stylesheets/breakpoints";

.segments {

  .hvr-bounce-to-right:before {
    background-color: #ccc;
  }

  &__segment {
    float: left;
    vertical-align: middle;
    background-color: black;
    color: white;
    padding: 2rem;
    font-size: 3rem;

    @include breakpoint(xs) {
      font-size: 1.5rem;
      padding: 1rem;
    }
  }
}

@import "segments.modifiers"
