.segments {
  font-family: "Roboto Slab", "Verdana", sans-serif;
  .hvr-bounce-to-right:before {
    background-color: #ccc;
  }
  &__segment {
    float: left;
    line-height: 2em;
    vertical-align: middle;
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 0.5em;
  }
}

@import "segments.modifiers"
