@import "../../../stylesheets/variables";

.segments__segment--raw {
  background-color: $raw;
  &.hvr-bounce-to-right:before {
    background-color: darken($raw, 10);
  }
}

.segments__segment--smackdown-live {
  background-color: $smackdown;
  &.hvr-bounce-to-right:before {
    background-color: darken($smackdown, 10);
  }
}

.segments__segment--nxt {
  background-color: $nxt;
  font-weight: 700;
  color: black;

  &.hvr-bounce-to-right:hover {
    color: black;
  }
  &.hvr-bounce-to-right:before {
    background-color: darken($nxt, 10);
  }
}
