@import "../../../stylesheets/variables";

.segments__segment--raw {
  background-color: $raw;
}

.segments__segment--smackdown-live {
  background-color: $smackdown;
}

.segments__segment--nxt {
  background-color: $nxt;
}
