.loading {
  $size: 20px;
  &__line {
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: #4b9cdb;
    margin-right: 5px;
    &:nth-last-child(1) {
      animation: loadingC .6s .1s linear infinite;
    }
    &:nth-last-child(2) {
      animation: loadingC .6s .2s linear infinite;
    }
    &:nth-last-child(3) {
      animation: loadingC .6s .3s linear infinite;
    }
  }
}

@keyframes loadingC {
  0 {transform: translate(0,0);}
  50% {transform: translate(0,15px);}
  100% {transform: translate(0,0);}
}
