@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.page.landing {

  .introduction {
    &,
    a {
      color: white;
    }

    &__container {
      padding: 50px;
      background-color: $primary;
    }

    &__boxes {
      background-color: $secondary;
    }

    &__box {
      background-color: $secondary;
      padding: 1.8rem;
      font-size: 2.5rem;
      height: 275px;

      h2 {
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .introduction__container--primary {
    padding: 10px 50px;
  }

  .introduction__container--secondary {
    text-shadow: 0 1px 0 black;

    .introduction__box {
      background-size: cover;
      background-repeat: no-repeat;
    }

    &.introduction__container {
      padding: 0 1rem;
    }

    .ranking {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../imgs/ranking.jpg");
    }

    .authority {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../imgs/championship.jpg");

      .championships {
        overflow: hidden;
        height: 65px;
        margin: 0px -40px;
        .championship__holdername {
          display: none;
        }
      }
    }

    .draft {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../imgs/draft.jpg");
      .icon {
        zoom: 0.3;
      }
    }

    .shows {
      background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url("../imgs/shows.jpg");
    }
  }

}
