@import "src/stylesheets/z-index";

.popover {
  position: fixed;
  z-index: $z-index-color-pickers;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.color-pickers {
  border: 0.2rem solid currentColor;
  height: 1.4rem;
  margin: 0;
  padding: 0;
  width: 2.7rem;

  .color-picker {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.compact-picker .flexbox-fix {
  display: none;
}
