.popover {
  position: fixed;
  z-index: 200;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.color-pickers {
  border: .2rem solid currentColor;
  height: 1.5rem;
  width: 3rem;
  padding: 0;
  margin: 0;

  .color-picker {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .col {
    padding-left: 0;
    padding-right: 0;
  }
}

.compact-picker .flexbox-fix {
  display: none;
}
