.bell {
  height: 60px;
  text-align: center;
  margin: 0 auto;

  &__button {
    color: black;
    border-radius: 0;
    background-color: white;
    border-radius: none;
  }
}

.bell__button--nxt {
  background-color: lighten($nxt, 18%);
}
.bell__button--raw {
  background-color: lighten($raw, 18%);
  color: white;
}
.bell__button--smackdown-live {
  background-color: lighten($smackdown, 15%);
}
