.droparea {
  margin: 0.5rem;
  padding: 1rem;
  border: 0.15em dashed lighten(#003250, 5%);
  text-align: center;

  &__title {
    text-transform: uppercase;
    letter-spacing: 1.8rem;
    word-spacing: 5rem;
    font-size: 1.5rem;
    color: #666;
  }

  @include breakpoint(xs) {
    margin: 0.2rem;
    padding: 0.2rem;
  }
}
