.droparea {
  padding: 2rem;
  position: relative;
  text-align: center;

  &__title {
    bottom: 0;
    color: #DADADB;
    font-size: 1.5rem;
    left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    top: 1rem;
    word-spacing: 4rem;
    z-index: -1;

    &::before {
      content: "Drop wrestlers here";
    }

    @include breakpoint(xs) {
      font-size: 1.5rem;
      letter-spacing: normal;
      text-transform: none;
      word-spacing: normal;
    }
  }

  @include breakpoint(xs) {
    margin: .2rem;
    padding: 1rem;
  }
}

.droparea--team .droparea__title::before {
  content:  "Team";
}

.droparea--team.active .droparea__title::before {
  content:  "";
}
