.droparea {
  margin: .5rem;
  padding: 2rem;
  text-align: center;
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  &__title {
    position: absolute;
    top: 1rem;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    color: #999;
    font-size: 1.5rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    word-spacing: 4rem;

    @include breakpoint(xs) {
      font-size: 1.5rem;
      letter-spacing: normal;
      text-transform: none;
      word-spacing: normal;
    }
  }

  @include breakpoint(xs) {
    margin: .2rem;
    padding: 1rem;
  }
}
