@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.match {
  font-family: "Roboto Slab", "Verdana", sans-serif;
  margin-bottom: 1rem;
  padding: 1rem;
  clear: both;
  background-color: $primary;

  .remove {
    display: none;

    @include breakpoint(xs) {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .remove {
    display: inline-block;
  }

  &__names {
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
  }

  &__name {
    text-transform: capitalize;

    &::after {
      content: " vs ";
      background-color: #3ebdf2;
      color: black;
      margin: 0 1rem;
    }

    &:last-child::after {
      content: '';
    }

    @include breakpoint(xs) {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
  }


  @import "./droparea";
}
