@import "../../../stylesheets/variables";

.match {
  margin-bottom: 1em;
  clear: both;

  &__inner {
    background-color: #003250;
    padding: 1em;
  }

  &__names {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.5em;
  }

  &__name::after {
    content: " vs ";
    background-color: #3ebdf2;
    color: black;
    margin: 0 1em;
  }

  &__name:last-child::after {
    content: '';
  }

  .droparea {
    margin: 0.5em;
    padding: 1em;
    &.active {
      border: 0.15em dashed lighten(#003250, 5%);
    }
    &.inactive {
      display: none;
    }
  }
}
