@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.match {
  margin-bottom: 3.5rem;
  padding: 1rem;
  clear: both;

  .match__section {
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    color: darken($bg-text-color, 20);
  }

  & .inactive {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .is-tag-match .match__name::after {
    content: " & ";
  }

  .is-tag-match .match__name:last-child::after {
    content: " ";
  }

  .fa-star {
    color: gold;
  }

  .remove {
    opacity: 0;

    @include breakpoint(xs) {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &:hover .remove {
    opacity: 1;
  }

  .match__teamtoggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }

  &__names {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-align: center;
  }

  &__name {
    text-transform: capitalize;

    &::after {
      content: " vs ";
      background-color: #dde9ee;
      color: black;
      margin: 0 1rem;
    }

    &:last-child::after {
      content: '';
    }

    @include breakpoint(xs) {
      width: 100%;
      text-align: center;
      display: inline-block;
    }
  }

  @include breakpoint(xs) {
    margin-bottom: 2rem;
  }

  @import "./droparea";
}
