@import "../../../stylesheets/variables";

.story {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1,3em;
  font-size: 1em;

  &__action {
    margin-bottom: 5px;
  }

  &__winner {
    font-weight: 700;
  }
  &__move {
    font-weight: strong;
    font-weight: 500;
  }
  &__damage {
    font-weight: strong;
    font-weight: 300;
  }
}

.actor--nxt {
  color: lighten($nxt, 18%);
}
.actor--raw {
  color: lighten($raw, 18%);
}
.actor--smackdown-live {
  color: lighten($smackdown, 15%);
}
