@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.story {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0;

  &__action {
    float: left;
    list-style: none;
    font-size: 0.5rem;
    overflow: hidden;
    text-align: center;
    height: 5rem;
    background-color: $bg;
    color: $color;
  }

  &--move {
    z-index: 0;
    position: relative;
    display:inline-block;
    transition: all 50ms ease-in;
    transform: scale(1);

    p {
      width: 100%;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    &:hover {
      box-shadow: 0px 0px 150px #000000;
      z-index: 2;
      -webkit-transition: all 50ms ease-in;
      -webkit-transform: scale(1.5);
      -ms-transition: all 50ms ease-in;
      -ms-transform: scale(1.5);
      -moz-transition: all 50ms ease-in;
      -moz-transform: scale(1.5);
      transition: all 50ms ease-in;
      transform: scale(1.5em);
    }
  }

  &__damage {
    font-weight: strong;
    font-weight: 300;
  }

  &--winner {
    height: 1.5rem;
    font-size: 1.5rem;

    @include breakpoint(xs) {
      font-size: 0.8rem;
      height: 1.2rem;
    }
  }
  .index-0 {
    filter: grayscale(0%);
  }
  .index-1 {
    filter: grayscale(20%);
  }
  .index-2 {
    filter: grayscale(40%);
  }
  .index-3 {
    filter: grayscale(60%);
  }
  .index-4 {
    filter: grayscale(80%);
  }
  .index-5 {
    filter: grayscale(100%);
  }
}

.brand--nxt {
  background-color: lighten($nxt, 18%);
  color: black;
}
.brand--raw {
  background-color: lighten($raw, 18%);
}
.brand--smackdown-live {
  background-color: lighten($smackdown, 15%);
}
