@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.story {
  font-family: "Roboto Slab", "Verdana", sans-serif;
  margin: 0 auto;
  text-align: center;

  &__action {
    list-style: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }

  &--move {
    z-index: 0;
    display: none;

    table {
      margin: 0;

      .wrestler {
        width: 5%;
        font-weight: 100;
      }
    }
  }

  &__damage {
    font-weight: 300;
  }

  &__winner {
    margin: 0.7rem;
  }

  .index-0 {
    filter: grayscale(0%);
  }
  .index-1 {
    filter: grayscale(20%);
  }
  .index-2 {
    filter: grayscale(40%);
  }
  .index-3 {
    filter: grayscale(60%);
  }
  .index-4 {
    filter: grayscale(80%);
  }
  .index-5 {
    filter: grayscale(100%);
  }

  @import "story.modifiers";
}

.story:hover .story--move {
  display: inline-block;
}
