.brand--nxt {
  background-color: inherit;
  border-bottom-color: lighten($nxt, 18%);
}
.brand--raw {
  background-color: inherit;
  border-bottom-color: lighten($raw, 18%);
}
.brand--smackdown-live {
  background-color: inherit;
  border-bottom-color: lighten($smackdown, 15%);
}
