.brand--nxt {
  background-color: lighten($nxt, 18%);
  color: black;
}
.brand--raw {
  background-color: lighten($raw, 18%);
}
.brand--smackdown-live {
  background-color: lighten($smackdown, 15%);
}
