@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.story {
  font-family: "Roboto Slab", "Verdana", sans-serif;
  margin: 0 auto;
  text-align: center;

  &__action {
    list-style: none;
    overflow: hidden;
    width: 100%;
    border-bottom: 3px solid;
  }


  &--move {
    z-index: 0;

    table {
      margin: 0;

      .wrestler {
        width: 5%;
        font-weight: 100;
      }
    }
  }

  &__damage {
    font-weight: 300;
  }

  &__winner {
    margin: 0.7rem;
  }

  .index-0 {
    color: black;
  }
  .index-1 {
    color: #666;
  }
  .index-2 {
    color: #a0a0a0;
  }
  .index-3 {
    color: darkOrange;
  }
  .index-4 {
    color: #a70b15;
  }
  .index-5 {
    color: #0f4a1e;
  }
}
