$calendar-border-width: .2rem;
$calendar-show-width: 10%;
$calendar-font-size: 1rem;
$calendar-boxes-font-size: 1rem;
$calendar-dustbin-font-size: 1.2rem;

$border-color: silver;
$border-width: .2rem;
$available: gold;
$active: green;
$used: blue;
$header-bg: #666;
$day-width: 12%;

$previous-bg: #ccc;
$previous-color: #999;

$show-name-font-size: 1rem;

.calendar-inline {
  font-size: $calendar-font-size;

  .header {
    background-color: $header-bg;
    text-align: center;
  }

  .previous {
    background-color: $previous-bg;
    color: $previous-color;
  }

  .dustbin {
    min-height: 5rem;
  }

  .dustbin,
  .header {
    border: $border-width solid $border-color;
    font-size: $calendar-dustbin-font-size;
    font-weight: 300;
    margin-bottom: .8rem;
    margin-right: 1%;
    width: $day-width;

    p {
      margin: 0;
      padding: $calendar-dustbin-font-size / 5;
    }

    &__details {
      font-weight: 100;

      .show__name {
        display: inline-block;
        font-size: $show-name-font-size;
        padding: .5rem 0;
        width: 100%;
      }
    }
  }

  .boxes {
    cursor: move;
    float: left;
    font-size: $calendar-boxes-font-size;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: .5rem;

    .used {
      background-color: $used;
    }
  }

  .active {
    background-color: $active;
  }

  .available {
    background-color: $available;
    color: black;
  }
}
