$calendar-show-width: 10%;
$calendar-font-size: 1rem;
$calendar-liveshow-font-size: 1.3rem;
$calendar-date-font-size: 1rem;

$available: hotpink;
$active: green;
$used: blue;
$calendar-header-bg: #666;

$previous-bg: #ccc;
$previous-color: #999;

$calendar-date-hover-bg-color: #333;
$calendar-date-bg-color: #1d1d1d;

.calendar {
  font-size: $calendar-font-size;

  .header {
    background-color: $calendar-header-bg;
  }

  .previous {
    background-color: $previous-bg;
    color: darken($previous-color, 10%);

    &:hover {
      background-color: darken($previous-bg, 30%);
      color: darken($previous-color, 30%);
    }
  }

  .dustbin,
  .header {
    font-size: 1.3rem;
    font-variant: small-caps;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: .8rem;
    margin-right: 1%;
    padding: .33%;
    width: 12.627%;
  }

  .dustbin {
    background-color: $calendar-date-bg-color;

    &:hover {
      background-color: $calendar-date-hover-bg-color;
    }

    .liveshow {
      align-items: center;
      display: flex;
      font-size: 1rem;
      height: 90%;
      justify-content: center;
      line-height: $calendar-liveshow-font-size;
      word-break: inherit;
    }

    p {
      margin: 0;
      padding: $calendar-date-font-size / 5;
    }

    &__name {
      align-items: stretch;
      height: auto;
      justify-content: center;
    }

    &__details {
      align-items: center;
      height: 2.5rem;
      justify-content: center;
      padding: .5rem;
    }
  }

  .boxes {
    margin-bottom: .5rem;
    margin-right: .5rem;
  }

  .active {
    background-color: $active;
  }

  .available {
    background-color: $available;
    color: black;
  }
}
