$calendar-border-width: .2rem;
$calendar-show-width: 10%;
$calendar-font-size: 2.5rem;

$border-color: silver;
$border-width: .5rem;
$available: gold;
$active: green;
$used: blue;
$header-bg: #666;
$day-width: 11%;

$previous-bg: #ccc;
$previous-color: #999;

.calendar-inline {
  font-size: $calendar-font-size;

  .header {
    background-color: $header-bg;
  }

  .previous {
    background-color: $previous-bg;
    color: $previous-color;
  }

  .dustbin,
  .header {
    border: $border-width solid $border-color;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-right: 1%;
    padding: 1rem;
    width: $day-width;

    p {
      margin-bottom: 1.5rem;
      margin-top: 0;
    }

    &__details {
      font-weight: 100;å

      .show__name {
        display: inline-block;
        font-size: 2rem;
        padding: .5rem;
      }
    }
  }

  .boxes {
    cursor: move;
    float: left;
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: .5rem;

    .used {
      background-color: $used;
    }
  }

  .active {
    background-color: $active;
  }

  .available {
    background-color: $available;
    color: black;
  }
}
