@import "src/stylesheets/breakpoints";

$navigation-font-size: 2rem;

.navigation {
  font-size: $navigation-font-size;
  font-variant: small-caps;
  font-weight: 100;

  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 1rem 4rem;
  }

  &__item {
    flex: 0 1 auto;
    flex-wrap: wrap;

    a {
      text-decoration: none;
      text-shadow: 0 0 .5rem currentColor
    }
  }


  @include breakpoint(xs) {
    &__list {
      display: block;
      line-height: 0;
      overflow-y: scroll;
      padding: 1rem;
      position: relative;
      white-space: nowrap;
    }

    &__item {
      display: inline-block;
      margin-right: 2rem;
      padding: .5rem;

      .icon {
        zoom: .1;
      }
    }
  }
}

.colorPickers {
  float: right;
}
