$navigation-font-size: 1.5rem;
$navigation-font-weight: 100;
$navigation-link-color: currentColor;
$navigation-link-text-shadow: 0 0 .5rem $navigation-link-color;

.navigation {
  &__list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 .5%;
    overflow-y: scroll;
    white-space: nowrap;
  }

  &__item {
    font-size: $navigation-font-size;
    font-variant: small-caps;
    font-weight: $navigation-font-weight;
    margin: 1% 2%;

    a {
      text-decoration: none;
      text-shadow: $navigation-link-text-shadow;
    }
  }
}
