.formImage {

  h3 {
    display: inline-block;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  &__droparea {
    background: #F9FBFE;
    border: .2rem dashed #C8CBCE;
    color: #97A1A8;
    margin: 0 auto 2.5rem auto;
    padding: 2rem;
    transition: box-shadow 0.3s, border-color 0.3s;
    width: 100%;
  }

  &__src {
    height: 10rem;
  }
}
