@import "animate";
@import "animations/main";
@import "breakpoints";
@import "clearfix";
@import "dropdown";
@import "navigation";
@import "sprites/main";
@import "variables";
@import "flexboxgrid";

@include breakpoint(xs) {
  [class*="col-"] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

html {
  font-size: 60%;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  font-size: 1.6rem;
  background-color: $bg;
}

.inpage-content {
  z-index: 0;
  margin: 3rem;
  @include breakpoint(xs) {
    margin: .2rem;
  }
}

.wrap {
  flex: 1;
}

footer {
  padding: 2rem;
  box-sizing: border-box;

  color: white;
  line-height: 2rem;
  background-color: #333;

  a {
    color: $active;
  }

  p {
    margin: 1rem 0;
  }
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

h4 {
  font-size: 1.7rem;
  font-weight: 300;
}

a {
  color: #000;
}

.statistic {
  font-family: "Roboto Slab", "Verdana", sans-serif;
}

.spaced {
  letter-spacing: .25rem;
  word-spacing: .5rem;

  @include breakpoint(xs) {
    letter-spacing: inherit;
    word-spacing: inherit;
  }
}

sup {
  font-size: 50%;
  letter-spacing: .2;
  vertical-align: super;
}

.sticky {
  z-index: 100;
}

a:hover,
.btn:focus,
.btn:hover {
  color: $active;
}

ul {
  padding: 0;
}

a:hover {
  cursor: pointer;
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: 50px;
  img {
    max-height: 80px;
  }
}

.fold {
  min-height: 120px;
  padding: 15px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zoom:hover {
  transform: scale(1.1);
  transition: all 400ms ease-in;
}
