@import "variables";

/* basics */
@import "animations/main";
@import "breakpoints";
@import "navigation";
@import "clearfix";
@import "dropdown";

@import "sprites/main";

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Verdana", "Arial", sans-serif;
  background-color: $bg;
  color: $color;
}

@include breakpoint(xs) {
  [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
  }
}

/* REM */
html {
  font-size: 60%;
}

body {
  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

h4 {
  font-size: 1.7rem;
  font-weight: 300;
}

.legal {
  padding: 5px 5px 5px 23px;
  color: white;
  line-height: 2rem;
  background-color: #333;

  a {
    color: #ccc;
  }
}

.statistic {
  font-family: "Roboto Slab", "Verdana", sans-serif;
}

.spaced {
  letter-spacing: .25rem;
  word-spacing: 0.5rem;

  @include breakpoint(xs) {
    letter-spacing: inherit;
    word-spacing: inherit;
  }
}

sup {
  vertical-align: super;
  font-size: 50%;
  letter-spacing: 0.2;
}

.sticky {
  z-index: 100;
}

a:hover,
.btn:focus,
.btn:hover {
  color: $active;
}

ul {
  padding: 0;
}

a:hover {
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 50px;
  img {
    max-height: 80px;
  }
}

.page {
  z-index: 1;

  @include breakpoint(xs) {
    padding: 0;
  }

  .inpage-content {
    padding: 1em 0;
    position: relative;
    z-index: 2;
  }
}

.fold {
  min-height: 120px;
  padding: 15px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.zoom:hover {
  transform: scale(1.1);
  transition: all 400ms ease-in;
}
