@import 'typography';
@import 'breakpoints';
@import 'clearfix';
@import 'variables';
@import 'flexboxgrid';
@import 'form';
@import 'colours';
@import 'table';
@import 'animation';
@import 'overrides';
@import 'mobile';
@import 'highlight';

html,
body {
  background-color: #000;
  color: #fff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-section {
  flex: 1 0 auto;
  height: 100%;
}

ul {
  padding: 0;
}

a:hover,
.cursor-pointer {
  cursor: pointer;
}

.cursor-nodrop {
  cursor: no-drop;
}

.no-select {
  user-select: none;
}

.hide {
  display: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.icon:hover {
  color: hotpink;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
