@import 'typography';
@import 'breakpoints';
@import 'clearfix';
@import 'navigation';
@import 'variables';
@import 'flexboxgrid';
@import 'form';
@import 'colours';
@import 'table';
@import 'animation';

@include breakpoint(xs) {
  [class*='col-'] {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

html,
body {
  height: 100%;
  background-color: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100%;
}

#root,
#root > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-section {
  flex: 1 0 auto;
  height: 100%;
}

ul {
  padding: 0;
}

a:hover, .cursor-pointer {
  cursor: pointer;
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.zoom:hover {
  transform: scale(1.1);
  transition: all 400ms ease-in;
}
