$icon-smackdown-tag-team: 0px 0px 85px 48px;
$icon-intercontinental: -85px 0px 85px 48px;
$icon-nxt-womens: -170px 0px 85px 48px;
$icon-nxt: -255px 0px 85px 48px;
$icon-raw-tag-team: -340px 0px 85px 48px;
$icon-raw-womens: -425px 0px 85px 48px;
$icon-nxt-tag-team: -510px 0px 85px 48px;
$icon-smackdown-womens: -595px 0px 85px 48px;
$icon-united-states: -680px 0px 85px 48px;
$icon-wwe-cruiserweight: -765px 0px 85px 48px;
$icon-wwe-universal: -850px 0px 85px 48px;
$icon-wwe-world: -935px 0px 85px 48px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-image: url(/static/championships-base.png);
}
.icon-smackdown-tag-team {
  @include sprite($icon-smackdown-tag-team);
}
.icon-intercontinental {
  @include sprite($icon-intercontinental);
}
.icon-nxt-womens {
  @include sprite($icon-nxt-womens);
}
.icon-nxt {
  @include sprite($icon-nxt);
}
.icon-raw-tag-team {
  @include sprite($icon-raw-tag-team);
}
.icon-raw-womens {
  @include sprite($icon-raw-womens);
}
.icon-nxt-tag-team {
  @include sprite($icon-nxt-tag-team);
}
.icon-smackdown-womens {
  @include sprite($icon-smackdown-womens);
}
.icon-united-states {
  @include sprite($icon-united-states);
}
.icon-wwe-cruiserweight {
  @include sprite($icon-wwe-cruiserweight);
}
.icon-wwe-universal {
  @include sprite($icon-wwe-universal);
}
.icon-wwe-world {
  @include sprite($icon-wwe-world);
}
