$icon-smackdown-tag-team-championship: 0px 0px 85px 48px;
$icon-intercontinental-championship: -85px 0px 85px 48px;
$icon-nxt-tag-team-championship: -170px 0px 85px 48px;
$icon-nxt-womens-championship: -255px 0px 85px 48px;
$icon-raw-tag-team-championship: -340px 0px 85px 48px;
$icon-raw-womens-championship: -425px 0px 85px 48px;
$icon-nxt-championship: -510px 0px 85px 48px;
$icon-smackdown-womens-championship: -595px 0px 85px 48px;
$icon-united-states-championship: -680px 0px 85px 48px;
$icon-wwe-cruiserweight-championship: -765px 0px 85px 48px;
$icon-wwe-universal-championship: -850px 0px 85px 48px;
$icon-wwe-world-championship: -935px 0px 85px 48px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
  background-image: url("/static/championships-base.png");
}

.icon-smackdown-tag-team-championship {
  @include sprite($icon-smackdown-tag-team-championship);
}

.icon-intercontinental-championship {
  @include sprite($icon-intercontinental-championship);
}

.icon-nxt-tag-team-championship {
  @include sprite($icon-nxt-tag-team-championship);
}

.icon-nxt-womens-championship {
  @include sprite($icon-nxt-womens-championship);
}

.icon-raw-tag-team-championship {
  @include sprite($icon-raw-tag-team-championship);
}

.icon-raw-womens-championship {
  @include sprite($icon-raw-womens-championship);
}

.icon-nxt-championship {
  @include sprite($icon-nxt-championship);
}

.icon-smackdown-womens-championship {
  @include sprite($icon-smackdown-womens-championship);
}

.icon-united-states-championship {
  @include sprite($icon-united-states-championship);
}

.icon-wwe-cruiserweight-championship {
  @include sprite($icon-wwe-cruiserweight-championship);
}

.icon-wwe-universal-championship {
  @include sprite($icon-wwe-universal-championship);
}

.icon-wwe-world-championship {
  @include sprite($icon-wwe-world-championship);
}
