.gold {
  color: gold;
}

.blue {
  color: blue;
}

.orange {
  color: #ff6f00;
}

.gray {
  color: #dcdcdc;
}

.red {
  color: red;
}

.violet {
  color: violet;
}

.fa:hover {
  color: #b24eec;
}

.hot-red {
  color: #ec0030;
}

.hot-pink {
  color: hotpink;
}

.green {
  color: green;
}
