/* http://www.w3schools.com/css/css_dropdowns.asp */

.dropdown {
  position: relative;
  display: inline-block;
  background-color: white;
  padding-right: 25px;
  padding-bottom: 20px;
}

.dropdown__title {
  letter-spacing: .25rem;
  word-spacing: 0.5rem;
  padding-left: 1rem;
}

.dropdown__content {
  display: none;
  top: 1rem;
  position: absolute;
  background-color: white;
  min-width: 25rem;
  padding: 0.1rem 2rem;
  z-index: 30;

  &, &.a {
    color: black;
  }
}

.dropdown:hover
.dropdown__content {
  display: block;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 
    0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
