$dropzone-border: 0.08rem solid rgba(255, 255, 255, 0.23);

.dropzone {
  align-items: center;
  border: $dropzone-border;
  display: flex;
  justify-content: center;
  min-height: 3.5rem;

  h3 {
    margin: 0.5rem;
  }
}
