$dropzone-border: 0.08rem solid rgba(255, 255, 255, 0.08);

.dropzone {
  align-items: center;
  border: $dropzone-border;
  display: flex;
  justify-content: center;

  h3 {
    margin: 0.5rem;
  }
}

.Droppable {
  min-height: 10rem;
}
