/* FormHack v1.2.0 (formhack.io) */
$font-size: 4vh !default;
$font-weight: auto;
$font-color: #232828 !default;
$border-radius: .1rem !default;
$border-width: .1rem !default;
$border-style: solid !default;
$border-color: #ccc !default;
$input-height: 5rem !default;
$input-width: 100% !default;
$input-max-width: 100% !default;
$input-bg-color: white !default;
$focus-bg-color: #f9fbfe !default;
$focus-border-color: $border-color !default;
$focus-font-color: $font-color !default;
$allow-select-vendor-styling: true !default;
$button-height: auto !default;
$button-width: auto !default;
$button-max-width: auto !default;
$button-font-color: #fff !default;
$button-bg-color: #232828 !default;
$button-hover-bg-color: #1b1f1f !default;
$button-hover-font-color: $button-font-color !default;

$display: block !default;

input,
textarea,
select,
option,
optgroup,
legend,
fieldset {
  box-sizing: border-box;
  color: $font-color;
  display: $display;
  font-size: $font-size;
  font-weight: $font-weight;
  margin: 1rem 0;
  outline: none;
  vertical-align: top;
}

label {
  display: $display;
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: 100;
}

input[list],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="file"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  background-color: $input-bg-color;
  border-radius: $border-radius;
  border: $border-width $border-style $border-color;
  max-width: $input-max-width;
  padding: $input-height / 5;
  width: $input-width;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[list] {
  height: $input-height;
}

textarea {
  overflow: auto;
}

input[type="range"] {
  height: $input-height;
  max-width: $input-max-width;
  width: $input-width;
}

input[type="file"] {
  min-height: $input-height;
}

input[type="search"] {
  -webkit-appearance: none;
  height: $input-height;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
}

select {
  height: $input-height;
}

select[multiple] {
  height: auto;
  min-height: $input-height;
  padding: 0;

  option {
    margin: 0;
    padding: $input-height / 5;
  }
}

legend {
  font-weight: 700;
  padding: 0 5px;
}

input[type="submit"],
input[type="reset"],
input[type="image"] {
  background-color: $button-bg-color;
  color: $button-font-color;
  height: $button-height;
  max-width: $button-max-width;
  width: $button-width;
}

input[type="image"] {
  padding: $input-height / 5;
  text-align: center;
}

input[disabled],
textarea[disabled],
select[disabled],
option[disabled],
button[disabled] {
  cursor: not-allowed;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  background-color: $focus-bg-color;
  border-color: $focus-border-color;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  outline: $focus-border-color solid 2px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="submit"]:focus,
input[type="reset"]:focus {
  background-color: $button-hover-bg-color;
  color: $button-hover-font-color !important;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}
