@import "src/stylesheets/breakpoints";

@include breakpoint(xs) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    &,
    & .icon {
      font-size: large !important;
      line-height: 1.7rem !important;
    }
  }
  h2 {
    font-weight: bolder !important;
    font-size: x-large !important;
  }
  .page {
    padding: 0.2rem 1rem !important;
  }

  input,
  textarea {
    font-size: 1rem !important;
    line-height: 1rem !important;
  }
}
