@import "src/stylesheets/breakpoints";

.navigation {
  background-color: #232828;
  font-family: 'Roboto';
  font-size: 2rem;
  color: white;

  .icon {
    zoom: .2;

    &.icon-default {
      background-image: none;
      height: auto;
      width: auto;
      zoom: inherit;
      overflow: inherit;

      &::before {
        content: "All brands";
        color: white;
      }
    }
  }

  &__list {
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 1rem 4rem;
    display: flex;
  }

  &__item {
    align-items: flex-start;
    color: white;
    margin-right: 5rem;

    a {
      color: white;
      text-decoration: none;
    }
  }


  @include breakpoint(xs) {
    &__list {
      padding: 1rem;
      display: block;
      line-height: 0;
      overflow-y: scroll;
      white-space: nowrap;
      position: relative;
    }

    &__item {
      padding: .5rem;
      margin-right: 2rem;
      display: inline-block;

      .icon {
        zoom: .1;
      }
    }
  }
}

.navigation--primary {
  text-transform: uppercase;
  letter-spacing: .17rem;
  font-weight: bold;

  .navigation__list {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.navigation--secondary {
  background-color: #141516;
  font-size: 1.5rem;
}
