@import "breakpoints";

.navigation {
  @extend .clearfix;
  color: white;

  &__item {
    float: left;
    margin-right: 40px;

    &.padding-left {
      padding-left: 100px;
    }

    a {
      color: white;
    }

    @include breakpoint(xs) {
      width: 100%;
    }
  }
}

.navigation--primary {
  background-color: #232828;
  letter-spacing: 0.7px;
  padding: 25px 60px;

  .navigation__item {
    margin-right: 5em;
    line-height: 4em;
  }

  a, a:visited,
  a:hover {
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: bold;
  }
}

.navigation--secondary {
  background-color: #141516;
  margin: 0 -40px;
  padding: 10px 40px;

  .navigation__item {
    line-height: 2em;
  }
}
