@import "src/stylesheets/breakpoints";

.navigation {
  background-color: #141516;
  font-family: 'Roboto';
  font-size: 1em;

  .icon {
    zoom: 0.2;

    &.icon-default {
      background-image: none;
      height: auto;
      width: auto;
      zoom: inherit;
      overflow: inherit;

      &::before {
        content: "All brands";
        color: white;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 1em 4em;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    align-items: center;

    @include breakpoint(xs) {
      padding: 0.5em;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    color: white;
    margin-right: 5em;

    a {
      color: white;
    }

    @include breakpoint(xs) {
      padding: 0.5em;
      margin-right: 0;
    }
  }
}

.navigation--primary {
  background-color: #232828;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  font-weight: bold;
  font-size: 1.25em;

  @include breakpoint(xs) {
    text-transform: inherit;
    letter-spacing: inherit;
  }

  .navigation__list {
    padding-top: 2em;
    padding-bottom: 2em;

    @include breakpoint(xs) {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}
.navigation--secondary {
  margin: 0 -15px;

  .navigation__list {
    padding: 1em 4em;

    @include breakpoint(xs) {
      padding: 0.5em 2em;
    }
  }
}
