body {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
}

/* Document level adjustments */
@media (min-width: 721px) {
  html {
    font-size: 125%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 100%;
  }
}

h2 {
  font-size: large;
}

h3,
label,
thead {
  font-size: medium;
}

h4 {
  font-size: normal;
}

h5 {
  font-size: medium;
  font-size: 700;
}
