$bg: white;
$color: black;
$active: #ccc;

$smackdown: #3b30fe;
$raw: #eb1826;
$nxt: #ffc71c;

$secondary: #00263d;
$primary: #003250;

$secondary-navigation-bg: #141516;
$secondary-navigation-color: white;

$bg-text-color: #DADADB;
