$icon-colin-cassady: 0px 0px 85px 101px;
$icon-akam: -85px 0px 85px 101px;
$icon-angelo-dawkins: -170px 0px 85px 101px;
$icon-austin-aries: -255px 0px 85px 101px;
$icon-blake: -340px 0px 85px 101px;
$icon-bobby-roode: -425px 0px 85px 101px;
$icon-chris-girard: -510px 0px 85px 101px;
$icon-dash-wilder: -595px 0px 85px 101px;
$icon-elias-samson: -680px 0px 85px 101px;
$icon-eric-young: -765px 0px 85px 101px;
$icon-hideo-itamo: -850px 0px 85px 101px;
$icon-johnny-gargano: -935px 0px 85px 101px;
$icon-manny-andrade: -1020px 0px 85px 101px;
$icon-mike-rome: -1105px 0px 85px 101px;
$icon-murphy: -1190px 0px 85px 101px;
$icon-nick-miller: -1275px 0px 85px 101px;
$icon-no-way-jose: -1360px 0px 85px 101px;
$icon-paul-ellering: -1445px 0px 85px 101px;
$icon-rezar: -1530px 0px 85px 101px;
$icon-roderick-strong: -1615px 0px 85px 101px;
$icon-samoa-joe: -1700px 0px 85px 101px;
$icon-sawyer-fulton: -1785px 0px 85px 101px;
$icon-scott-dawson: -1870px 0px 85px 101px;
$icon-shane-turner: -1955px 0px 85px 101px;
$icon-shinsuke-nakamura: -2040px 0px 85px 101px;
$icon-tom-phillips: -2125px 0px 85px 101px;
$icon-tommaso: -2210px 0px 85px 101px;
$icon-tye-dillinger: -2295px 0px 85px 101px;
$icon-william-regal: -2380px 0px 85px 101px;
$icon-aliyah: -2465px 0px 85px 101px;
$icon-andrea-dmarco: -2550px 0px 85px 101px;
$icon-asuka: -2635px 0px 85px 101px;
$icon-billie-kay: -2720px 0px 85px 101px;
$icon-cathy-kelly: -2805px 0px 85px 101px;
$icon-dasha-fuentes: -2890px 0px 85px 101px;
$icon-ember-moon: -2975px 0px 85px 101px;
$icon-liv-morgan: -3060px 0px 85px 101px;
$icon-mandy-rose: -3145px 0px 85px 101px;
$icon-nikki-storm: -3230px 0px 85px 101px;
$icon-peyton-royce: -3315px 0px 85px 101px;
$icon-alicia-fox: -3400px 0px 85px 101px;
$icon-bayley: -3485px 0px 85px 101px;
$icon-charlotte: -3570px 0px 85px 101px;
$icon-charly-caruso: -3655px 0px 85px 101px;
$icon-dana-brooke: -3740px 0px 85px 101px;
$icon-jojo: -3825px 0px 85px 101px;
$icon-lana: -3910px 0px 85px 101px;
$icon-nia-jax: -3995px 0px 85px 101px;
$icon-paige: -4080px 0px 85px 101px;
$icon-sasha-banks: -4165px 0px 85px 101px;
$icon-stephanie-mcmahon: -4250px 0px 85px 101px;
$icon-summer-rae: -4335px 0px 85px 101px;
$icon-alexa-bliss: -4420px 0px 85px 101px;
$icon-becky-lynch: -4505px 0px 85px 101px;
$icon-carmella: -4590px 0px 85px 101px;
$icon-eva-marie: -4675px 0px 85px 101px;
$icon-maryse: -4760px 0px 85px 101px;
$icon-naomi: -4845px 0px 85px 101px;
$icon-natalya: -4930px 0px 85px 101px;
$icon-nikki-bella: -5015px 0px 85px 101px;
$icon-renee-young: -5100px 0px 85px 101px;
$icon-ariya-daivari: -5185px 0px 85px 101px;
$icon-big-e: -5270px 0px 85px 101px;
$icon-big-show: -5355px 0px 85px 101px;
$icon-bo-dallas: -5440px 0px 85px 101px;
$icon-braun-strowman: -5525px 0px 85px 101px;
$icon-brian-kendrick: -5610px 0px 85px 101px;
$icon-brock-lesnar: -5695px 0px 85px 101px;
$icon-byron-saxton: -5780px 0px 85px 101px;
$icon-cedric-alexander: -5865px 0px 85px 101px;
$icon-cesaro: -5950px 0px 85px 101px;
$icon-chris-jericho: -6035px 0px 85px 101px;
$icon-alexander-wolfe: -6120px 0px 85px 101px;
$icon-corey-graves: -6205px 0px 85px 101px;
$icon-curtis-axel: -6290px 0px 85px 101px;
$icon-darren-young: -6375px 0px 85px 101px;
$icon-drew-gulak: -6460px 0px 85px 101px;
$icon-enzo-amore: -6545px 0px 85px 101px;
$icon-epico: -6630px 0px 85px 101px;
$icon-finn-balor: -6715px 0px 85px 101px;
$icon-goldust: -6800px 0px 85px 101px;
$icon-gran-metalik: -6885px 0px 85px 101px;
$icon-jinder-mahal: -6970px 0px 85px 101px;
$icon-karl-anderson: -7055px 0px 85px 101px;
$icon-kevin-owens: -7140px 0px 85px 101px;
$icon-kofi-kingston: -7225px 0px 85px 101px;
$icon-lince-dorado: -7310px 0px 85px 101px;
$icon-luke-gallows: -7395px 0px 85px 101px;
$icon-mark-henry: -7480px 0px 85px 101px;
$icon-michael-cole: -7565px 0px 85px 101px;
$icon-mick-foley: -7650px 0px 85px 101px;
$icon-neville: -7735px 0px 85px 101px;
$icon-noam-dar: -7820px 0px 85px 101px;
$icon-primo: -7905px 0px 85px 101px;
$icon-r-truth: -7990px 0px 85px 101px;
$icon-rich-swann: -8075px 0px 85px 101px;
$icon-roman-reigns: -8160px 0px 85px 101px;
$icon-rusev: -8245px 0px 85px 101px;
$icon-sami-zayn: -8330px 0px 85px 101px;
$icon-seth-rollins: -8415px 0px 85px 101px;
$icon-sheamus: -8500px 0px 85px 101px;
$icon-sin-cara: -8585px 0px 85px 101px;
$icon-titus-oneil: -8670px 0px 85px 101px;
$icon-tj-perkins: -8755px 0px 85px 101px;
$icon-tony-nese: -8840px 0px 85px 101px;
$icon-triple-h: -8925px 0px 85px 101px;
$icon-xavier-woods: -9010px 0px 85px 101px;
$icon-aiden-english: -9095px 0px 85px 101px;
$icon-aj-styles: -9180px 0px 85px 101px;
$icon-apollo-crews: -9265px 0px 85px 101px;
$icon-baron-corbin: -9350px 0px 85px 101px;
$icon-bray-wyatt: -9435px 0px 85px 101px;
$icon-chad-gable: -9520px 0px 85px 101px;
$icon-curt-hawkins: -9605px 0px 85px 101px;
$icon-daniel-bryan: -9690px 0px 85px 101px;
$icon-david-otunga: -9775px 0px 85px 101px;
$icon-dean-ambrose: -9860px 0px 85px 101px;
$icon-dolph-ziggler: -9945px 0px 85px 101px;
$icon-erick-rowan: -10030px 0px 85px 101px;
$icon-fandango: -10115px 0px 85px 101px;
$icon-greg-hamilton: -10200px 0px 85px 101px;
$icon-heath-slater: -10285px 0px 85px 101px;
$icon-jack-swagger: -10370px 0px 85px 101px;
$icon-jason-jordan: -10455px 0px 85px 101px;
$icon-jbl: -10540px 0px 85px 101px;
$icon-jey-uso: -10625px 0px 85px 101px;
$icon-jimmy-uso: -10710px 0px 85px 101px;
$icon-john-cena: -10795px 0px 85px 101px;
$icon-kalisto: -10880px 0px 85px 101px;
$icon-kane: -10965px 0px 85px 101px;
$icon-kenny: -11050px 0px 85px 101px;
$icon-konnor: -11135px 0px 85px 101px;
$icon-luke-harper: -11220px 0px 85px 101px;
$icon-mauro-ranallo: -11305px 0px 85px 101px;
$icon-mikey: -11390px 0px 85px 101px;
$icon-mojo-rawley: -11475px 0px 85px 101px;
$icon-randy-orton: -11560px 0px 85px 101px;
$icon-rhyno: -11645px 0px 85px 101px;
$icon-shane-mcmahon: -11730px 0px 85px 101px;
$icon-simon-gotch: -11815px 0px 85px 101px;
$icon-the-miz: -11900px 0px 85px 101px;
$icon-tyler-breeze: -11985px 0px 85px 101px;
$icon-viktor: -12070px 0px 85px 101px;
$icon-zack-ryder: -12155px 0px 85px 101px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-colin-cassady {
  @include sprite($icon-colin-cassady);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-akam {
  @include sprite($icon-akam);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-angelo-dawkins {
  @include sprite($icon-angelo-dawkins);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-austin-aries {
  @include sprite($icon-austin-aries);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-blake {
  @include sprite($icon-blake);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-bobby-roode {
  @include sprite($icon-bobby-roode);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-chris-girard {
  @include sprite($icon-chris-girard);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-dash-wilder {
  @include sprite($icon-dash-wilder);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-elias-samson {
  @include sprite($icon-elias-samson);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-eric-young {
  @include sprite($icon-eric-young);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-hideo-itamo {
  @include sprite($icon-hideo-itamo);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-johnny-gargano {
  @include sprite($icon-johnny-gargano);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-manny-andrade {
  @include sprite($icon-manny-andrade);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mike-rome {
  @include sprite($icon-mike-rome);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-murphy {
  @include sprite($icon-murphy);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-nick-miller {
  @include sprite($icon-nick-miller);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-no-way-jose {
  @include sprite($icon-no-way-jose);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-paul-ellering {
  @include sprite($icon-paul-ellering);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-rezar {
  @include sprite($icon-rezar);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-roderick-strong {
  @include sprite($icon-roderick-strong);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-samoa-joe {
  @include sprite($icon-samoa-joe);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-sawyer-fulton {
  @include sprite($icon-sawyer-fulton);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-scott-dawson {
  @include sprite($icon-scott-dawson);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-shane-turner {
  @include sprite($icon-shane-turner);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-shinsuke-nakamura {
  @include sprite($icon-shinsuke-nakamura);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tom-phillips {
  @include sprite($icon-tom-phillips);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tommaso {
  @include sprite($icon-tommaso);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tye-dillinger {
  @include sprite($icon-tye-dillinger);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-william-regal {
  @include sprite($icon-william-regal);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-aliyah {
  @include sprite($icon-aliyah);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-andrea-dmarco {
  @include sprite($icon-andrea-dmarco);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-asuka {
  @include sprite($icon-asuka);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-billie-kay {
  @include sprite($icon-billie-kay);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-cathy-kelly {
  @include sprite($icon-cathy-kelly);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-dasha-fuentes {
  @include sprite($icon-dasha-fuentes);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-ember-moon {
  @include sprite($icon-ember-moon);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-liv-morgan {
  @include sprite($icon-liv-morgan);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mandy-rose {
  @include sprite($icon-mandy-rose);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-nikki-storm {
  @include sprite($icon-nikki-storm);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-peyton-royce {
  @include sprite($icon-peyton-royce);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-alicia-fox {
  @include sprite($icon-alicia-fox);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-bayley {
  @include sprite($icon-bayley);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-charlotte {
  @include sprite($icon-charlotte);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-charly-caruso {
  @include sprite($icon-charly-caruso);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-dana-brooke {
  @include sprite($icon-dana-brooke);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jojo {
  @include sprite($icon-jojo);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-lana {
  @include sprite($icon-lana);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-nia-jax {
  @include sprite($icon-nia-jax);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-paige {
  @include sprite($icon-paige);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-sasha-banks {
  @include sprite($icon-sasha-banks);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-stephanie-mcmahon {
  @include sprite($icon-stephanie-mcmahon);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-summer-rae {
  @include sprite($icon-summer-rae);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-alexa-bliss {
  @include sprite($icon-alexa-bliss);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-becky-lynch {
  @include sprite($icon-becky-lynch);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-carmella {
  @include sprite($icon-carmella);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-eva-marie {
  @include sprite($icon-eva-marie);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-maryse {
  @include sprite($icon-maryse);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-naomi {
  @include sprite($icon-naomi);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-natalya {
  @include sprite($icon-natalya);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-nikki-bella {
  @include sprite($icon-nikki-bella);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-renee-young {
  @include sprite($icon-renee-young);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-ariya-daivari {
  @include sprite($icon-ariya-daivari);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-big-e {
  @include sprite($icon-big-e);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-big-show {
  @include sprite($icon-big-show);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-bo-dallas {
  @include sprite($icon-bo-dallas);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-braun-strowman {
  @include sprite($icon-braun-strowman);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-brian-kendrick {
  @include sprite($icon-brian-kendrick);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-brock-lesnar {
  @include sprite($icon-brock-lesnar);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-byron-saxton {
  @include sprite($icon-byron-saxton);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-cedric-alexander {
  @include sprite($icon-cedric-alexander);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-cesaro {
  @include sprite($icon-cesaro);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-chris-jericho {
  @include sprite($icon-chris-jericho);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-alexander-wolfe {
  @include sprite($icon-alexander-wolfe);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-corey-graves {
  @include sprite($icon-corey-graves);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-curtis-axel {
  @include sprite($icon-curtis-axel);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-darren-young {
  @include sprite($icon-darren-young);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-drew-gulak {
  @include sprite($icon-drew-gulak);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-enzo-amore {
  @include sprite($icon-enzo-amore);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-epico {
  @include sprite($icon-epico);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-finn-balor {
  @include sprite($icon-finn-balor);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-goldust {
  @include sprite($icon-goldust);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-gran-metalik {
  @include sprite($icon-gran-metalik);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jinder-mahal {
  @include sprite($icon-jinder-mahal);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-karl-anderson {
  @include sprite($icon-karl-anderson);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-kevin-owens {
  @include sprite($icon-kevin-owens);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-kofi-kingston {
  @include sprite($icon-kofi-kingston);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-lince-dorado {
  @include sprite($icon-lince-dorado);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-luke-gallows {
  @include sprite($icon-luke-gallows);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mark-henry {
  @include sprite($icon-mark-henry);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-michael-cole {
  @include sprite($icon-michael-cole);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mick-foley {
  @include sprite($icon-mick-foley);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-neville {
  @include sprite($icon-neville);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-noam-dar {
  @include sprite($icon-noam-dar);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-primo {
  @include sprite($icon-primo);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-r-truth {
  @include sprite($icon-r-truth);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-rich-swann {
  @include sprite($icon-rich-swann);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-roman-reigns {
  @include sprite($icon-roman-reigns);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-rusev {
  @include sprite($icon-rusev);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-sami-zayn {
  @include sprite($icon-sami-zayn);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-seth-rollins {
  @include sprite($icon-seth-rollins);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-sheamus {
  @include sprite($icon-sheamus);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-sin-cara {
  @include sprite($icon-sin-cara);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-titus-oneil {
  @include sprite($icon-titus-oneil);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tj-perkins {
  @include sprite($icon-tj-perkins);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tony-nese {
  @include sprite($icon-tony-nese);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-triple-h {
  @include sprite($icon-triple-h);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-xavier-woods {
  @include sprite($icon-xavier-woods);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-aiden-english {
  @include sprite($icon-aiden-english);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-aj-styles {
  @include sprite($icon-aj-styles);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-apollo-crews {
  @include sprite($icon-apollo-crews);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-baron-corbin {
  @include sprite($icon-baron-corbin);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-bray-wyatt {
  @include sprite($icon-bray-wyatt);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-chad-gable {
  @include sprite($icon-chad-gable);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-curt-hawkins {
  @include sprite($icon-curt-hawkins);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-daniel-bryan {
  @include sprite($icon-daniel-bryan);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-david-otunga {
  @include sprite($icon-david-otunga);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-dean-ambrose {
  @include sprite($icon-dean-ambrose);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-dolph-ziggler {
  @include sprite($icon-dolph-ziggler);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-erick-rowan {
  @include sprite($icon-erick-rowan);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-fandango {
  @include sprite($icon-fandango);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-greg-hamilton {
  @include sprite($icon-greg-hamilton);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-heath-slater {
  @include sprite($icon-heath-slater);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jack-swagger {
  @include sprite($icon-jack-swagger);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jason-jordan {
  @include sprite($icon-jason-jordan);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jbl {
  @include sprite($icon-jbl);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jey-uso {
  @include sprite($icon-jey-uso);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-jimmy-uso {
  @include sprite($icon-jimmy-uso);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-john-cena {
  @include sprite($icon-john-cena);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-kalisto {
  @include sprite($icon-kalisto);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-kane {
  @include sprite($icon-kane);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-kenny {
  @include sprite($icon-kenny);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-konnor {
  @include sprite($icon-konnor);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-luke-harper {
  @include sprite($icon-luke-harper);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mauro-ranallo {
  @include sprite($icon-mauro-ranallo);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mikey {
  @include sprite($icon-mikey);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-mojo-rawley {
  @include sprite($icon-mojo-rawley);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-randy-orton {
  @include sprite($icon-randy-orton);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-rhyno {
  @include sprite($icon-rhyno);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-shane-mcmahon {
  @include sprite($icon-shane-mcmahon);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-simon-gotch {
  @include sprite($icon-simon-gotch);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-the-miz {
  @include sprite($icon-the-miz);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-tyler-breeze {
  @include sprite($icon-tyler-breeze);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-viktor {
  @include sprite($icon-viktor);
  background-image: url('../imgs/wrestlers-base.png');
}

.icon-zack-ryder {
  @include sprite($icon-zack-ryder);
  background-image: url('../imgs/wrestlers-base.png');
}

