$branding-font-size: 10rem;

.page.branding {
  h1 {
    font-size: $branding-font-size;
    width: 100%;
  }
  h5 {
    font-size: $branding-font-size - 5;
    margin: 2rem;
  }
  .swatches-picker {
    height: 100% !important;
    width: 100% !important;
  }
}
