$calendar-border-width: .3rem;
$calendar-font-size: 3rem;
$calendar-show-width: 10%;
$calendar-show-inactive-border-color: silver;
$calendar-show-active-border-color: gold;

.page.calendar {
  font-size: $calendar-font-size;

  .show {
    border: $calendar-border-width solid $calendar-show-inactive-border-color;
    margin-bottom: 1.5rem;
    margin-right: 1%;
    padding: 2rem;
    width: $calendar-show-width;
  }

  .active {
    border: $calendar-border-width solid $calendar-show-active-border-color;
  }
}
