@import "src/stylesheets/variables";

.page.champions {
  .wrestler {
    width: 20%;
  }
  .alert {
    text-align: center;
    background-color: $primary;
    color: white;
    border-radius: 0;
    border-color: $secondary;
  }
}
