$champions-font-size: 1.5rem;
$champions-input-font-size: 1.5rem;

.page.champions {
	label {
		font-size: $champions-font-size;
	}

	textarea {
		font-size: $champions-input-font-size;
		line-height: $champions-input-font-size;
	}
}
