.page.create-a-match {
  padding-bottom: 35vh;

  h3 {
    font-size: 2rem;
  }

  a {
    color: white;
  }

  .icon {
    vertical-align: bottom;
  }

  .story.winner {
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: 900;
  }
}
