$cash-color: #00FF00;
$dashboard-font-size: xx-large;

.page.dashboard {
  font-size: $dashboard-font-size;

  .infopane {

    p {
      margin: 0 1rem 1rem;
    }

    &__name {
      font-weight: 500;
      text-transform: uppercase;
    }

    &__cash {
      color: $cash-color;
    }

    &__roster {
      font-size: large;
    }
  }
}
