$name-input-font-size: 10rem;

.page.name {
  input {
    font-size: $name-input-font-size;
    height: $name-input-font-size + 1;
    line-height: $name-input-font-size + 1;
    font-weight: bolder;
  }
}
