$name-input-font-size: 12rvh;

.page.name {
  textarea {
    font-size: $name-input-font-size;
    font-weight: bolder;
    height: $name-input-font-size + .5;
    line-height: $name-input-font-size + .5;
  }
}
