@import "src/stylesheets/breakpoints";

.page.ranking {

  h3 {
    font-size: 2em;
  }

  .ranking {
    padding: 0px 30px;
    @include breakpoint(xs) {
      padding: 0;
    }

    &__split h3 {
      font-size: 1em;
    }

    .icon {
      zoom: 0.7;
    }
  }
}
