$roster-font-size: 2.5rem;
$roster-input-font-size: 2rem;

.page.roster {
	font-size: $roster-font-size;

	textarea {
		font-size: $roster-input-font-size;
		line-height: $roster-input-font-size;
	}
}
