@import "src/stylesheets/breakpoints";


.shows {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    padding: 1rem 0;
  }

  &__item {
    align-items: center;
    display: flex;
    font-size: 4rem;
    font-weight: 700;
    height: 10rem;
    justify-content: center;
    list-style: none;
    width: auto;

    @include breakpoint(xs) {
      height: 6rem;
      margin: .5rem;
      width: 8.6rem;
    }
  }
}
