$shows-header-font-size: 9rem;
$shows-font-size: 3rem;

.page.shows {
	h1 {
		font-size: $shows-header-font-size;
	}
	label {
		font-size: $shows-font-size;
	}
	textarea {
		line-height: $shows-font-size;
		font-size: $shows-font-size;
	}
}
