@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.page.show {

  .navigation .icon {
    zoom: 0.2;
  }
  .current-ppv {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    background-color: black;
    width: 13em;
    height: 11em;
    .icon {
      zoom: 0.6;
    }
  }

  .dropdown {
    display: block;
  }

  .brand .wrestler {
    @include breakpoint(lg) {
      width: 10%;
      zoom: 0.8;
    }
    @include breakpoint(xs) {
      width: 33%;
      zoom: 1;
    }
  }

  &.raw {
    .match__inner {
      background-color: #b20404;
      .match__name::after {
        background-color: white;
      }
      .droparea {
        color: white;
        border-color: #960e0e;
      }
    }
  }

  &.smackdown-live {
    .match__inner {
      background-color: #18203f;
      .droparea {
        color: #ccc;
      }
    }
  }

  &.nxt {
    .match__inner {
      background-color: #f0a71f;
      .match__name::after {
        background-color: black;
        color: white;
      }
      .droparea {
        color: black;
        border-color: #b76400;
      }
    }
  }
}
