$size-font-size: 3rem;

.page.size {
  .sizes {
    font-size: $size-font-size;
    font-weight: bolder;
    line-height: $size-font-size + 1;
  }
  .size {
    padding: 0 3rem;
  }
  .active {
    background-color: #ff6f00;
  }
}
