$size-font-size: 1rem;
$size-font-weight: bolder;
$size-word-wrap: break-word;

.page.size {
  .sizes {
    font-size: $size-font-size;
    font-weight: $size-font-weight;
    line-height: $size-font-size + 1;
    word-wrap: $size-word-wrap;
  }
}
