.page.utils {
  font-size: 3rem;

  .fa {
    font-size: 6rem;
    margin: 3rem;
  }

  .start,
  .isComplete {
    padding: 3rem;
  }

  .start {
    background-color: #333;
  }

  .isComplete {
    background-color: green;
  }
}
