$welcome-font-size: 3rem;
$welcome-font-weight: 100;
$welcome-color: black;
$welcome-bg-color: gold;

.page.welcome {
  .highlight {
    background-color: $welcome-bg-color;
    display: flex;
    font-size: $welcome-font-size;
    font-weight: $welcome-font-weight;
    padding: 1rem;

    a {
      color: $welcome-color;
      text-decoration: none;
    }
  }
}
