h2 {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin: 0 0 0.3rem;
  width: 100%;

  .icon {
    margin: 0.2rem;
  }

  .tools {
    justify-content: flex-end;
    font-size: 1rem;
  }
}
