@import "src/stylesheets/breakpoints";

.page.welcome {
  font-size: 1rem;
  font-weight: 100;

  .highlight {
    background-color: gold;
    display: flex;
    padding: 0.5rem;

    li {
      list-style: none;
    }

    .box a,
    .box {
      color: black;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
