$welcome-font-size: xx-large;
$welcome-font-weight: 100;
$welcome-color: black;
$welcome-bg-color: gold;

.page.welcome {
  padding: 0 2rem;
  .highlight {
    background-color: $welcome-bg-color;
    display: flex;
    font-size: $welcome-font-size;
    font-weight: $welcome-font-weight;
    padding: .5rem 2rem;

    li {
      list-style: none;
    }

    .box a,
    .box {
      color: $welcome-color;
      cursor: pointer;
      text-decoration: none;
    }
  }
}
