div.ranking {
  font-size: medium;
  margin: 1rem 0;

  .table,
  h3 {
    font-weight: 100;
    margin: 0;
    padding: .3rem;
    width: 95%;
  }

  .cost,
  .losses,
  .points,
  .rank,
  .wins {
    font-size: small;
    text-align: center;
  }

  thead {
    font-variant: small-caps;
    font-weight: 500;

    td {
      vertical-align: middle;
    }
  }

  tbody {
    font-variant: normal;

    td {
      vertical-align: text-bottom;
    }
    .name {
      font-weight: 100;
    }
  }
}
