div.ranking {
  font-size: small;

  .table,
  h3 {
    font-weight: 100;
    margin: 0;
    padding: 0.5rem;
  }

  .losses,
  .points,
  .rank,
  .wins {
    text-align: center;
  }

  thead {
    font-variant: small-caps;
    font-weight: 500;
    font-size: smaller;

    td {
      vertical-align: middle;
    }
  }

  tbody {
    font-variant: normal;

    td {
      vertical-align: text-bottom;
    }
    .name {
      font-weight: 100;
    }
  }
}
