.bucket-drops {

  min-height: 500px;
}
.bucket {

  &__logo {
    height: 60px;
  }

}
.drops {
  background-color: black;
  min-height: 500px;
  width: 100%;
  padding: 15px;

  &__header {
    font-size: 1em;
    line-height: 3em;
    text-align: center;
  }

  &__seperator {
    font-size: 0.9em;
  }

  &__container {
    overflow: scroll;
  }
}

.drop {
  list-style: none;
  display: list-item;
  float: left;
  overflow: hidden;
  margin: 1%;
  width: 18%;

  &__name {
    display: none;
  }
}

@import 'drops.modifiers';
