.bucket-drops {
  min-height: 500px;
}
.bucket {
  &__logo {
    height: 60px;
  }
}

.drops {
  min-height: 500px;
  width: 100%;
  padding: 15px;
  &__header {
    font-size: 1em;
    line-height: 3em;
    text-align: center;
  }
  &__seperator {
    font-size: 20px;
  }
  &__container {
    overflow: scroll;
  }
}

.drop {
  list-style: none;
  display: list-item;
  width: 70px;
  height: 70px;
  overflow: hidden;
  float: left;
  margin: 4px;

  &__name {
    display: none;
  }
  &__image {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 150%;
    max-width: none;
  }
}

// Modifiers
.drops--raw {
  background-color: $raw;
  color: white;
}
.drops__header--raw {
  background-color: darken($raw, 10%);
}
.drops--default .drops__container {
  height: 300px;
  overflow-y: scroll;
}
.drops--nxt {
  background-color: $nxt;
  color: black;
}
.drops__header--nxt {
  background-color: darken($nxt, 10%);
}

.drops--smackdown-live {
  background-color: $smackdown;
  color: white;
}
.drops__header--smackdown-live {
  background-color: darken($smackdown, 10%);
}
