.bucket-drops {

  min-height: 500px;
}
.bucket {

  &__logo {
    height: 60px;
  }

}
.drops {
  background-color: black;
  min-height: 500px;
  width: 100%;
  padding: 15px;

  &__search {
    opacity: 0.5
  }

  & .drops__search.active,
  &:hover .drops__search {
    opacity: 1
  }

  &__header {
    font-size: 1em;
    line-height: 3em;
    text-align: center;
  }

  &__seperator {
    font-size: 0.9em;
  }

  &__container {
    overflow: scroll;
  }
}

.drop {
  list-style: none;
  display: list-item;
  float: left;
  overflow: hidden;
  margin: 3px;
  width: 84px;

  &__name {
    display: none;
  }
  & .drop__icon {
    width: 84px;
  }
}

@import 'drops.modifiers';
