@import "src/stylesheets/z-index";

.notifications {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: $z-index-notifications;
  font-size: small;
  max-height: 20rem;
  overflow: hidden;

  .notification {
    display: flex;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: small;
    transition: background-color 2s ease-in;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 0.1rem;
  }
}
