@import "src/stylesheets/z-index";

.notifications {
  bottom: -3rem;
  font-size: small;
  left: 50%;
  max-height: 14rem;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 11rem;
  z-index: $z-index-notifications;

  .notification {
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: small;
    transition: background-color 2s ease-in;
    a {
      display: flex;
      justify-content: space-between;
    }
  }
}
