@import "../../../stylesheets/variables";

.selection__item--nxt .selection__icon.active {
  border-color: $nxt;
}
.selection__item--raw .selection__icon.active {
  border-color: $raw;
}
.selection__item--smackdown-live .selection__icon.active {
  border-color: $smackdown;
}
