.champions {
  .champion {
    padding: 1rem;
    min-height: 1rem;
    margin: 0 0.5rem 0.5rem 0;

    header {
      margin: 0;
      font-size: small;
      font-weight: lighter;
    }
    .wrestler {
      max-width: 5rem;
    }
  }
}
