.champions {
  display: flex;
  justify-content: center;
  align-items: center;

  .champion {
    margin: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;

    header {
      margin: 0;
      font-weight: lighter;
      font-size: small;
    }

    .wrestler .name {
      font-size: xx-small;
    }
  }
}
