$basepage-font-size: 2rem;
$basepage-gutter: 2vh 3vw;

$basepage-button-font-size: 5vw;
$basepage-button-color: white;
$basepage-button-background-color: #3f3f3f;
$basepage-button-border-radius: 0;
$basepage-button-padding: .5rem !default;

.page-container main {
  flex: 1 0 auto;
  padding: $basepage-gutter;

  .children {
    padding: $basepage-gutter;
  }

  button {
    background-color: $basepage-button-background-color;
    border: 0;
    color: $basepage-button-color;
    cursor: pointer;
    font-size: $basepage-button-font-size;
    font-weight: 100;
    padding: $basepage-button-padding;
    width: 100%;
  }
}
