$basepage-font-size: 2rem;
$basepage-gutter: 4vh 4vw;

$button-font-size: 2rem;
$button-color: #ffffff;
$button-background-color: #3f3f3f;
$button-border-radius: 0;
$button-padding: .5rem !default;

$button-font-weight: 300;

.page-container main {
  flex: 1 0 auto;
  font-size: $basepage-font-size;
  padding: $basepage-gutter;

  button {
    background-color: $button-background-color;
    border: 0;
    color: $button-color;
    cursor: pointer;
    font-size: $button-font-size;
    font-variant: small-caps;
    font-weight: $button-font-weight;
    padding: $button-padding;
    width: 100%;
  }
}
