$basepage-font-size: 2rem;
$basepage-header-font-size: 4rem;
$basepage-gutter: 2rem;

$basepage-button-font-size: 2rem;
$basepage-button-color: white;
$basepage-button-background-color: #3f3f3f;
$basepage-button-border-radius: 0;
$basepage-button-padding: .5rem !default;

.page {
  height: 100%;
  font-size: $basepage-font-size;
  font-weight: bolder;
  line-height: auto;

  h1 {
    font-size: $basepage-header-font-size;
    line-height: $basepage-header-font-size;
    margin: 0 0 1rem 0;
    text-transform: capitalize;
  }

  .children {
    padding: $basepage-gutter;
  }

  .active {
    border: 1rem solid white;
  }

  button {
    background-color: $basepage-button-background-color;
    border-radius: $basepage-button-border-radius;
    border: 0;
    color: $basepage-button-color;
    cursor: pointer;
    font-size: $basepage-button-font-size;
    font-variant: small-caps;
    font-weight: 500;
    padding: $basepage-button-padding;
    width: 100%;
  }

  .footer {
    .navigation {
      display: flex;
      float: right;
      justify-content: space-around;
      width: auto;
    }
  }
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}
