.popover {
  position: absolute;
  z-index: 200;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.colorPicker {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}

.compact-picker .flexbox-fix {
  display: none;
}
