$liveshow-font-size: 1rem;
$liveshow-font-weight: 100;
$liveshow-padding: .2rem 1rem;

.liveshow {
  cursor: move;
  display: inline-flex;
  font-size: $liveshow-font-size;
  font-variant: small-caps;
  font-weight: $liveshow-font-weight;
  line-height: $liveshow-font-size;
  margin-bottom: 0;
  padding: $liveshow-padding;
}
