$liveshow-font-weight: 100;
$liveshow-padding: .2rem 1rem;
$liveshow-font-size: medium;

.liveshow {
  cursor: move;
  display: inline-flex;
  font-weight: $liveshow-font-weight;
  margin-bottom: 0;
  padding: $liveshow-padding;
  font-size: $liveshow-font-size;
}
