@import 'shapes';
$belt-ending-radius: 13%;

.belt {
  align-items: center;
  display: flex;
  font-size: 100%;
  height: 100%;
  justify-content: center;
  min-height: 2rem;
  width: 100%;
  z-index: 100;

  .container-sm {
    height: 50%;
    width: 15%;
  }

  .container-xs {
    height: 50%;
    width: 10%;
  }

  .container-lg {
    height: 100%;
    margin: 0 -2%;
    width: 30%;

    .plate {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .plate,
  .strap {
    background-blend-mode: multiply;
  }

  .strap {
    align-items: center;
    border-bottom: .1rem solid #ccc;
    border-top: .1rem solid #ccc;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.hide-overflow {
      overflow: hidden;
    }

    &.show-overflow {
      overflow: visible;
    }

    .plate {
      z-index: 30;

      &__name {
        font-family: 'Jockey One', sans-serif;
        line-height: .8em;
        word-spacing: 100rem;
      }

      &__buttons {
        background-color: transparent;
        font-size: large;
      }
    }
  }

  .first {
    border-left: .1rem solid #ccc;
    border-radius: $belt-ending-radius 0% 0% $belt-ending-radius;
  }

  .last {
    border-radius: 0% $belt-ending-radius $belt-ending-radius 0;
    border-right: .1rem solid #ccc;
  }
}
