$font-family: 'Bungee Inline', cursive;
$belt-ending-radius: 13%;

.belt {
  align-items: center;
  display: flex;
  font-size: 100%;
  height: 100%;
  justify-content: center;
  min-height: 9rem;
  width: 100%;
  z-index: 100;

  .strap {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1%;
    width: 20%;

    .plate {
      display: flex;
      height: 95%;
      justify-content: center;
      width: 94%;
      z-index: 30;
      background-blend-mode: multiply;
      min-height: 6rem;
    }
  }

  .plate.buttons {
    align-items: center;
    background-color: transparent;
    justify-content: center;
  }


  .strap-lg,
  .plate-lg {
    height: 80%;
    margin: 0 -2.5%;
    min-height: 8rem;
  }

  .strap-sm,
  .plate-sm {
    height: 30%;
    width: 16%;
  }

  .strap-sm {
    .plate-sm {
      width: 65%;
      margin: 0 5%;
    }
  }

  .first {
    border-radius: $belt-ending-radius 0% 0% $belt-ending-radius;
  }
  .last {
    border-radius: 0% $belt-ending-radius $belt-ending-radius 0;
  }

  //over write
  .oval {
    height: 82%;
    width: 29%;
  }
  .rectangle {
    height: 60%;
    width: 23%;
  }
}



@import "shapes"
