@import "src/stylesheets/z-index";
@import "src/stylesheets/breakpoints";

$wrestlers-points-dimensions: 1rem;
$wrestler-background: #fff;
$wrestler-color: #000;
$points-transition-length: 500ms;
$wrestler-width: 4rem;

.wrestlers {
  max-height: 90vh;
  padding: 0.2rem;
  z-index: $z-index-wrestlers;
  overflow: auto;
}

.wrestlers .wrestler {
  background-color: $wrestler-background;
  box-shadow: 0 0.1rem 0.2rem 0 currentColor;
  color: $wrestler-color;
  margin: 0.3rem;
  padding: 0.2rem;
  width: $wrestler-width;

  .name {
    font-size: x-small;
    text-align: left;
  }

  .points {
    background-color: $wrestler-background;
    border-radius: 50%;
    border: 0.01rem solid #999;
    font-size: x-small;
    font-weight: 500;
    height: $wrestlers-points-dimensions;
    margin-right: 0.3rem;
    opacity: 0.8;
    transition: background-color $points-transition-length linear;
    width: $wrestlers-points-dimensions;
  }

  &.has-championship .points {
    background-color: gold;
  }

  &:hover .points {
    background-color: $wrestler-color;
    color: $wrestler-background;
    opacity: 1;
  }

  &:hover {
    cursor: pointer;
  }
}

@include breakpoint(lg) {
  .wrestlers .wrestler {
    width: 5rem;

    .name {
      font-size: small;
    }
  }
}
