$wrestler-choice-color: #fff;
$wrestler-text-shadow: #ddd;
$wrestler-background-color: #fff;
$wrestler-color: #000;
$wrestler-height: 3.5rem;

.wrestlers {
  height: 30%;
  overflow: scroll;
  padding: 1%;
  z-index: 100;

  .box-filters {
    display: flex;
    font-size: 3rem;
    height: 100%;
    justify-content: flex-end;
  }

  .icon.active {
    text-shadow: .5rem .5rem .5rem currentColor;
  }

  input[type=text] {
    background-color: transparent;
    border-bottom: .01rem solid $wrestler-choice-color;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: $wrestler-choice-color;
    font-size: 1.5rem;
    height: 1.3rem;
    line-height: 1.2rem;

    &::placeholder {
      color: $wrestler-choice-color;
    }
  }

  .wrestler {
    align-items: center;
    background-color: $wrestler-background-color;
    color: $wrestler-color;
    display: flex;
    flex-wrap: wrap;
    font-size: small;
    height: $wrestler-height;
    justify-content: center;
    line-height: 1rem;
    margin: 0 .5rem 1rem;
    text-align: center;
    transition: text-shadow .3s linear;
    word-wrap: break-word;

    sup {
      font-size: .8rem;
      font-weight: 500;
    }

    &:hover {
      cursor: pointer;
      text-shadow: .1rem .1rem .4rem darken($wrestler-text-shadow, 70%);
    }
  }
}
