.wrestlers {
  align-items: end;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  .wrestler {
    align-items: end;
    display: flex;
    overflow: hidden;
    word-wrap: break-word;

    .points {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}
