.brand {

  &__icon {
    height: 11rem;
  }

  &__name {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;
  }

  &__toggles {
    margin-bottom: 1rem;

    a {
      color: white;
    }
  }
}
