.brand {

  &__icon {
    align-items: flex-end;
    background-size: cover;
    display: flex;
    height: 12rem;
    justify-content: center;
    overflow: hidden;
    text-align: center;
  }

  &__name {
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;
    text-align: center;
  }

  &__toggles {
    margin-bottom: 1rem;

    a {
      color: white;
    }
  }
}
