@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.page.champions {

  .alert {
    text-align: center;
    background-color: $primary;
    color: white;
    border-radius: 0;
    border-color: $secondary;
  }

  @include breakpoint(xs) {
    
    .brand {
      margin-bottom: 1em;
    }

    .wrestlers {
      height: 13em;
      overflow: scroll;
    }
  }
}
