@import "src/stylesheets/variables";
@import "src/stylesheets/breakpoints";

.page-section.champions {

  .belt {
    height: 6rem;
    width: 28rem;
  }

  @include breakpoint(xs) {

    .brand {
      margin-bottom: 1rem;
    }

    .wrestlers {
      height: 13rem;
      overflow: scroll;
    }
  }
}
