$winner-font-size: 2rem;
$loser-font-size: 1rem;

.winner,
.loser {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}

.winner {
  font-size: $winner-font-size;
  font-weight: 700;
}

.loser {
  font-size: $loser-font-size;
  font-weight: 100;
}
