@import "src/stylesheets/z-index";
@import "src/stylesheets/breakpoints";

$wrestlers-points-dimensions: 1rem;

.wrestler {
  align-items: center;
  background-color: white;
  background-size: cover;
  box-shadow: 0 0.02rem 0.05rem 0 currentColor;
  color: black;
  display: inline-flex;
  font-size: x-small;
  height: 1.8rem;
  margin: 0.3rem;
  min-width: 4.5rem;
  overflow: hidden;
  padding: 0.2rem;
  word-wrap: break-word;

  &.has-image .name {
    color: white;
    letter-spacing: 0.15em;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 1px #666, 2px 2px 1px #000;
  }

  &.has-highlight {
    font-weight: bolder;
    box-shadow: 0 0 0 0.2rem red;
  }

  .name {
    font-weight: 100;
    text-align: left;
  }

  .points {
    align-items: center;
    border-radius: 50%;
    border: 0.01rem solid #999;
    display: flex;
    font-size: xx-small;
    height: $wrestlers-points-dimensions;
    justify-content: center;
    margin-right: 0.3rem;
    opacity: 0.7;
    transition: background-color 500ms linear;
    width: $wrestlers-points-dimensions;
  }

  .icon.trophy {
    display: inline-flex;
    font-size: 0.7rem;
    margin: 0 0.3rem;
  }

  &:hover .points {
    background-color: black;
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}

@include breakpoint(lg) {
  .wrestlers .wrestler {
    width: 5rem;

    .points,
    .name {
      font-size: x-small;
    }
  }
}
