@import "src/stylesheets/breakpoints";

.collection {
  margin: 0 0.5rem;

  .small.col-xs {
    max-width: 4rem;
    justify-content: flex-end;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .input .box {
    justify-content: flex-start;
    & > div {
      width: 100%;
    }
    input {
      padding: 1rem;
    }
  }

  @include breakpoint(xs) {
    .item {
      border-bottom: 1px solid black;
    }

    .small.col-xs,
    .col-xs {
      display: flex;
      flex: auto;
      width: 100%;
      justify-content: space-around;
      flex-grow: 0;
      max-width: none;

      &.input .box {
        justify-content: center;

        select,
        input {
          text-align: center;
          margin: 0.1rem;
          padding: 0.5rem;
          width: 100%;
          border-bottom: 1px solid #ccc;
        }
      }

      .box {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 1rem 0 0;
      }
    }
  }
}
