@import "src/stylesheets/variables";

.current-ppv {
  background-color: $secondary-navigation-bg;
  height: 15.1rem;
  margin: 0 auto;
  position: relative;
  width: 20rem;

  .icon {
    z-index: 2;
    zoom: 0.5;
  }
}
