@import "src/stylesheets/variables";

.ppvs__current {
  background-color: $secondary-navigation-bg;
  color: white;
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;

  .dropdown {
    background-color: inherit;
  }

  hr {
    width: 60%;
    margin: 0 auto;
    border-top: 1px solid #666;
  }

  .icon {
    margin: 2em;
    z-index: 2;
    zoom: .5;
  }
}
