@import "src/stylesheets/variables";

.current-ppv {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  margin: 0;
  background-color: $secondary-navigation-bg;
  width: 20rem;
  height: 17rem;

  .icon {
    z-index: 2;
    zoom: 0.5;
  }
}
