@import "src/stylesheets/breakpoints";

.page.show {

  .show-event-details {
    @include breakpoint(xs) {
      text-align: center;
    }
  }

  .dropdown__content li {
    line-height: 3rem;
    text-align: left;
    list-style: none;

    &, & a {
      color: black;
    }
  }

  hr {
    margin: 1rem 0;
  }

  .ppvs__list {
    justify-content: center;
    align-items: center;

    .ppvs__item {
      width: 14.29rem;
      height: 8rem;

      .icon {
        zoom: 0.4;
      }
    }
  }

  @import "current-ppv";
  @import "show.modifiers";
}
