@import "src/stylesheets/breakpoints";

.page.show {

  .current-ppv {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 0;
    background-color: black;
    width: 13em;
    height: 7em;

    .icon {
      z-index: 2;
      zoom: 0.4;
    }
  }

  .dropdown {
    display: block;
  }

  h3 {
    text-align: left;
    @include breakpoint(xs) {
      font-size: 1.5em;
      text-align: center;
    }
  }

  &.raw {

    .match__inner {
      background-color: #b20404;

      .match__name::after {
        background-color: white;
      }

      .droparea {
        color: white;
        border-color: #960e0e;
      }
    }
  }

  &.smackdown-live {

    .match__inner {
      background-color: #18203f;

      .droparea {
        color: #ccc;
      }
    }
  }

  &.nxt {

    .match__inner {

      background-color: #f0a71f;

      .match__name::after {
        background-color: black;
        color: white;
      }
      
      .droparea {
        color: black;
        border-color: #b76400;
      }
    }
  }
}
