@import "src/stylesheets/breakpoints";

.page.show {

  @include breakpoint(xs) {
    .show-event-details {
      text-align: center;
    }
  }

  .dropdown__content li {
    line-height: 3rem;
    list-style: none;
    text-align: left;

    &,
    & a {
      color: black;
    }
  }

  hr {
    margin: 1rem 0;
  }

  .ppvs__list {
    align-items: center;
    justify-content: center;

    .ppvs__item {
      height: 8rem;
      width: 14.29rem;
    }
    .icon {
      zoom: .4;
    }
  }

  @import "current-ppv";
  @import "show.modifiers";
}
