$nav-font-size: 1.5rem;
$nav-font-weight: 100;
$nav-link-color: currentColor;
$nav-link-text-shadow: .05rem .1rem .3rem $nav-link-color;
$nav-link-hover-text-shadow: .1rem .2rem .5rem $nav-link-color;
$nav-list-padding: 2vh 4vw;

.nav {
  margin: 0;
  padding: 0;

  &__list {
    align-items: top;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    overflow: auto;
    padding: $nav-list-padding;
    white-space: nowrap;
  }

  &__item {
    font-size: $nav-font-size;
    font-variant: small-caps;
    font-weight: $nav-font-weight;

    a {
      text-decoration: none;
      text-shadow: $nav-link-text-shadow;
      transition: text-shadow 100ms linear;
    }

    a,
    a:hover {
      color: $nav-link-color;
    }

    a:hover {
      text-decoration: none;
      text-shadow: $nav-link-hover-text-shadow;
    }
  }

}
