$mobile: 768px;
$nav-height: 2.5rem;
$nav-font-size: medium;

.nav {
  align-items: stretch;
  display: flex;
  margin-bottom: 0.2rem;
  min-height: $nav-height;
  padding: 0 1rem;
  position: relative;

  h1 {
    font-size: medium;
    font-weight: 400;
    text-transform: uppercase;
  }

  a {
    text-shadow: none;
    transition: text-shadow 500ms ease;

    &:hover,
    &.active {
      text-shadow: 0px 1px 20px white;
    }
  }
}

.nav-toggle {
  @media (min-width: $mobile) {
    display: none;
  }

  font-size: $nav-height;
  align-items: center;
  display: flex;
  padding-right: 1rem;
}

.nav-item {
  align-items: center;
  display: flex;
  flex-grow: inherit;
  font-size: $nav-font-size;
  font-variant: all-petite-caps;
  justify-content: flex-start;
  padding: 0.25rem 0.5rem;
}

.nav-left,
.nav-right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-menu {
  z-index: 100;

  @media (max-width: $mobile) {
    &.nav-right {
      display: none;
      left: 0;
      right: 0;
      top: 100%;
      position: absolute;
      background-color: white;
      box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);

      .nav-item {
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .nav-menu.active {
    display: block;
  }
}
