@import "src/stylesheets/breakpoints";

$nav-font-weight: 100;
$nav-font-size: large;
$nav-link-color: currentColor;
$nav-link-text-shadow: inherit;
$nav-link-hover-text-shadow: .01rem .01rem .1rem $nav-link-color;
$nav-list-padding: .4rem 3vw;
$nav-item-padding: .1rem;

.nav {
  align-items: space-between;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: $nav-list-padding;

  li {
    align-items: center;
    font-size: $nav-font-size;
    font-variant: small-caps;
    font-weight: $nav-font-weight;
    justify-content: center;
    list-style: none;
    overflow: auto;
    padding: $nav-item-padding;
    white-space: nowrap;

    a {
      text-decoration: none;
      text-shadow: $nav-link-text-shadow;
      transition: text-shadow 100ms linear;
    }

    a,
    a:hover {
      color: $nav-link-color;
    }

    a:hover {
      text-decoration: none;
      text-shadow: $nav-link-hover-text-shadow;
    }
  }
}
