@import 'src/stylesheets/breakpoints';

$nav-font-weight: 100;
$nav-font-size: small;
$nav-link-color: currentColor;
$nav-list-padding: 0;
$nav-item-padding: .1rem;
$nav-active-text-shadow: .3rem .3rem .1rem black;

.nav {
  margin: 0;
  padding: $nav-list-padding;
  z-index: 100;

  &__item {
    font-size: $nav-font-size;
    font-variant: small-caps;
    font-weight: $nav-font-weight;
    padding: 1rem 0;
    text-shadow: inherit;
    transition: text-shadow 1s ease;

    @include breakpoint(xs) {
      width: 5rem;
    }

    &,
    :hover {
      text-decoration: none;
    }

    &:hover,
    &.active {
      text-shadow: $nav-active-text-shadow;
    }
  }
}
