.manage-wrestler {
  h3 {
    border-bottom: 0.1rem solid #ccc;
    line-height: 2rem;
    margin: 0.5rem 0;
    width: 100%;
  }

  .championships .brand {
    background-color: #a17f1a;
    color: currentColor;
    padding: 0.5rem;
  }

  .brand {
    font-size: small;
    font-variant: normal;
    text-transform: capitalize;
  }
}
