@import "src/stylesheets/base";
@import "src/stylesheets/breakpoints";

body {
  background-color: $bg;
  color: $color;

  a:hover,
  .btn:focus,
  .btn:hover {
    color: $nxt;
  }

  .page {
    padding: 0 20px;
    @include breakpoint(xs) {
      padding: 0;
    }
  }
}
