@import "../../../stylesheets/variables";
@import "./navigation";

body {
  background-color: $bg;
  color: $color;

  a:hover,
  .btn:focus,
  .btn:hover {
    color: $nxt;
  }

  .page {
    padding: 0 20px;
  }
}
